{% for item in blog %}
<div class="col-md-6 wow fadeInRight" data-wow-delay="0.4s">                      
    <div class="post-blog post-blog-type-2"><img class="img-responsive" src="{{item.img.url}}" width="420" height="300" alt=""><a class="label label-primary" href="{% url 'blog_single' item.id %}">Article</a>
        <div class="post-blog-caption">
            <p class="text-italic text-gray">{{item.date}}</p>
            <h4 class="post-blog-title text-bold"><a href="{% url 'blog_single' item.id %}">{{item.title}}</a></h4>
            <p class="text-base">{{item.content|slice:":200"|safe}}</p><a class="post-blog-link" href="{% url 'blog_single' item.id %}">Read more</a>
        </div>
    </div>
</div>
{% endfor %}