{% extends 'malawiplace_app/globals.html' %}
{% load static %} 
{% load custom_template_tags %}
{% block content %}
            <section class="bg-image-06">
              <div class="breadcrumb-wrapper">
                <div class="container context-dark section-30 section-xl-top-60">
                  <h5>Pick the Best Ticket</h5>
                  <h1 class="text-ubold">Tickets List</h1>
                  <ol class="breadcrumb">
                    <li><a href="{% url 'Home' %}">Home</a></li>
                    <!-- <li><a href="#">Pages</a></li> -->
                    <li>Tickets List
                    </li>
                  </ol>
                </div>
              </div>
            </section>
      <section class="section-80 section-lg-120 bg-gray-lighter">
        <div class="container container-wide">
          <div class="row row-50 text-xl-left">
            <div class="col-xl-8">
              <div class="inset-xxl-right-80">
                <h2 class="text-ubold">List of all available buses</h2>
                <!-- <h5 class="text-gray">2 Adults, economy</h5> -->
                <hr class="divider divider-lg-left divider-primary divider-80">
                <form method="post" action="{% url 'bus-search' %}">
                    {% csrf_token %}
                    <div class="row row-20 row-offset-7 justify-content-sm-between text-left">
                        
                        <div class="col-md-8 col-lg-6 col-xxl-4">
                            <div class="row row-20">
                                <div class="col-md-6">
                                    <div class="form-wrap">
                                    <label class="form-label-outside" for="departure-date">Departure</label>
                                    <input class="form-input form-input-gray"  type="text"  name="departure">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-wrap">
                                    <label class="form-label-outside" for="return-date">Destination</label>
                                    <input class="form-input form-input-gray"  type="text"  name="destination">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button class="button button-primary button-sm" type="submit"> Search </button>
                                </div>
                            </div>
                        </div>
                        
                    <div class="col-md-4 col-xxl-3">
                        <!-- <span class="small">Sort by</span> -->
                        
                        <!-- <select class="form-input select-filter" data-placeholder="Select an option" data-minimum-results-for-search="Infinity" data-constraints="@Required">
                        <option>Price: low to high</option>
                        <option value="2">Item 1-1</option>
                        <option value="3">Item 1-2</option>
                        <option value="4">Item 1-2</option>
                        <option value="5">Item 2-1</option>
                        <option value="6">Item 2-2</option>
                        <option value="7">Item 2-3</option>
                        </select> -->
                    </div>
                    </div> 
                </form>
                
                <ul class="list-tickets">
                  
                    {% for item in page %}
                      <li class="list-item">
                        <div class="list-item-inner">
                          <div class="list-item-main">
                            <div class="list-item-top">
                              <div class="list-item-logo"><img src="{% static 'images/logo-01.jpg' %}" alt=""></div>
                              <div class="list-item-content">
                                <div class="list-item-content-left">
                                  <div class="text-bold text-base"></div><span class="small d-block">{{item.depature_point}}</span>
                                </div>
                                <div class="list-item-content-line-wrapper small">
                                  <div class="list-item-content-line-top">{{item.depature_time}}</div>
                                  <div class="list-item-content-line"></div>
                                  <div class="list-item-content-line-bottom text-info-dr">Direct</div>
                                </div>
                                <div class="list-item-content-right">
                                  <div class="text-bold text-base"></div><span class="small d-block">
                                    {{ item.destination_point }}</span>
                                </div>
                              </div>
                            </div>
                            <hr class="divider divider-wide">
                            <!-- <div class="list-item-bottom">
                              <div class="list-item-logo"><img src="{% static 'images/logo-01.jpg' %}" alt=""></div>
                              <div class="list-item-content">
                                <div class="list-item-content-left">
                                  <div class="text-bold text-base">9:50pm</div><span class="small d-block">LGW</span>
                                </div>
                                <div class="list-item-content-line-wrapper small">
                                  <div class="list-item-content-line-top">18h 40m</div>
                                  <div class="list-item-content-line"></div>
                                  <div class="list-item-content-line-bottom"><span class="text-primary-dr">1 stop</span><span> DUB</span></div>
                                </div>
                                <div class="list-item-content-right">
                                  <div class="text-bold text-base">11:30am (+1)</div><span class="small d-block">JFK</span>
                                </div>
                              </div>
                            </div> -->
                          </div>
                          <div class="list-item-footer"><span class="small"></span>
                            <h5 class="text-bold list-item-price"> $ {{item.price}}</h5><a class="button button-primary button-xs button-no-shadow" href="{% url 'bus-details' item.id %}">Make Booking</a>
                          </div>
                        </div>
                        <div class="small text-gray-light list-item-subtitle">Operated by {{item.bus_company.company_name}}</div>
                      </li>
                    {% empty %}
                      <h3>Sorry, no buses availbale at the moment</h3>
                    {% endfor %}

                  

                </ul>
                      <!-- Bootstrap Pagination-->
                      <ul class="pagination pagination-offset">
                        {% if page.has_previous %}
                          <li><a href="{% url 'bus-list' %}?page=1">1</a></li>
                          <li ><a href="{% url 'bus-list' %}?page={{ page.previous_page_number }}" ><span class="fa-chevron-left" aria-hidden="true"></span></a></li>
                        {% endif %}
  
                        {% for num_page in page.paginator.page_range %}
                          {% if page.number == num_page %}
                            <li class="active"><a href="{% url 'bus-list' %}?page={{ num_page }}"><span>{{num_page}}</span></a></li>
                          {% else %}
                            <li><a href="{% url 'bus-list' %}?page={{ num_page }}">{{num_page}}</a></li>
                          {% endif %}
                        {% endfor %}
  
                        {% if page.has_next %}
                          <li><a href="{% url 'bus-list' %}?page={{ page.next_page_number }}" ><span class="fa-chevron-right" aria-hidden="true"></span></a></li>
                        {% endif %}
                      </ul>
              </div>
            </div>
            <div class="col-xl-4 tickets-aside">
              
              <h5 class="text-bold hr-title">Latest Blog Posts</h5>
              <div class="row row-50 row-md-30 justify-content-sm-center text-md-left">
                {% recent_blogs_searched %}
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}