{% extends 'malawiplace_app/globals.html' %}
{% load static %} 
{% block content %}
{% load custom_template_tags %}

    <section class="bg-image-06">
      <div class="breadcrumb-wrapper">
        <div class="container context-dark section-30 section-xl-top-120">
          <h5>Our Latest Events</h5>
          <!-- <h1 class="text-ubold">Classic Blog</h1> -->
          <ol class="breadcrumb">
            <li><a href="{% url 'Home' %}">Home</a></li>
            <!-- <li><a href="#">Events</a></li> -->
            <li>Events
            </li>
          </ol>
        </div>
      </div>
    </section>
      <section class="section-80 section-lg-120">
        <div class="container container-wide text-lg-left">
          <div class="row row-50 justify-content-sm-center justify-content-xxl-between">
            <div class="order-lg-1 col-lg-7 col-xxl-7">
                    <!-- Post-->
                    {% for item in page %}
                    <div class="post-blog">
                      <div class="post-blog-img"><a href="{% url 'event_single' item.id%}"><img class="img-responsive center-block" style="max-height: 500px;" src="{{item.img.url}}" width="1020" height="600" alt=""></a></div>
                      <h3 class="text-bold post-blog-title"><a class="text-primary-dr" href="{% url 'event_single' item.id %}">{{item.event_name}}</a></h3>
                      <p>{{item.event_description}}</p>
                      <div class="post-blog-meta">
                        <ul class="group-lg">
                          <li class="post-blog-tag"><span class="icon"></span><a class="text" href="blog-modern.html">Event</a></li>
                          <li class="post-blog-comments"><span class="icon"></span><span class="text-base text">{{item.date}}</span></li>
                          <li class="post-blog-views"><span class="icon"></span><span class="text-base text">684</span></li>
                        </ul>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- Bootstrap Pagination-->
                    <ul class="pagination pagination-offset">
                      {% if page.has_previous %}
                        <li><a href="{% url 'events' %}?page=1">1</a></li>
                        <li ><a href="{% url 'events' %}?page={{ page.previous_page_number }}" ><span class="fa-chevron-left" aria-hidden="true"></span></a></li>
                      {% endif %}

                      {% for num_page in page.paginator.page_range %}
                        {% if page.number == num_page %}
                          <li class="active"><a href="{% url 'events' %}?page={{ num_page }}"><span>{{num_page}}</span></a></li>
                        {% else %}
                          <li><a href="{% url 'events' %}?page={{ num_page }}">{{num_page}}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if page.has_next %}
                        <li><a href="{% url 'events' %}?page={{ page.next_page_number }}" ><span class="fa-chevron-right" aria-hidden="true"></span></a></li>
                      {% endif %}
                    </ul>
            </div>
            <div class="col-lg-5 col-xxl-4">
              <aside class="text-md-left">
                <div class="row row-60 row-lg-90">
                  <div class="col-12">
                    <h5 class="text-bold hr-title">Search</h5>
                    <!-- RD Search-->
                    <form class="form-inline rd-search" action="{% url 'event_search' %}" method="post">
                      {% csrf_token %}
                      <div class="form-wrap">
                        <!-- <label class="form-label" for="rd-search-form-input">Search</label> -->
                        <input class="form-input"  type="text" name="searched" autocomplete="off">
                      </div>
                      <button class="button button-primary button-sm button-naira button-naira-up" type="submit"><span class="icon fa-search"></span><span>Search</span></button>
                    </form>
                  </div>
                  <!-- <div class="col-12">
                    <h5 class="text-bold hr-title">Archive</h5>
                    <div class="row row-20">
                      <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <ul class="list-marked list-marked-no-padding">
                          <li><a class="text-info-dr" href="#">October 2018</a></li>
                          <li><a class="text-info-dr" href="#">January 2019</a></li>
                          <li><a class="text-info-dr" href="#">April 2019</a></li>
                          <li><a class="text-info-dr" href="#">July 2019</a></li>
                          <li><a class="text-info-dr" href="#">October 2019</a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <ul class="list-marked list-marked-no-padding">
                          <li><a class="text-info-dr" href="#">November 2018</a></li>
                          <li><a class="text-info-dr" href="#">February 2019</a></li>
                          <li><a class="text-info-dr" href="#">May 2019</a></li>
                          <li><a class="text-info-dr" href="#">August 2019</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-lg-12 col-xl-4">
                        <ul class="list-marked list-marked-no-padding">
                          <li><a class="text-info-dr" href="#">December 2018</a></li>
                          <li><a class="text-info-dr" href="#">March 2019</a></li>
                          <li><a class="text-info-dr" href="#">June 2019</a></li>
                          <li><a class="text-info-dr" href="#">September 2019</a></li>
                        </ul>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-12">
                    <h5 class="text-bold hr-title">Gallery</h5>
                    <div class="row row-sm-gutter" data-lightgallery="group">
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="800x450" href="{% static 'images/overview-01.jpg' %}"><img class="img-responsive center-block" src="{% static 'images/gallery-48.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="384x560" href="{% static 'images/post-36.jpg' %}"><img class="img-responsive center-block" src="{% static 'images/gallery-49.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="576x372" href="{% static 'images/gallery-20.jpg' %}"><img class="img-responsive center-block" src="{% static 'images/gallery-50.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="384x560" href="{% static 'images/post-43.jpg' %}"><img class="img-responsive center-block" src="{% static 'images/gallery-51.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="420x590" href="{% static 'images/gallery-28.jpg' %}"><img class="img-responsive center-block" src="{% static 'images/gallery-52.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="420x590" href="{% static 'images/gallery-25.jpg' %}"><img class="img-responsive center-block" src="{% static 'images/gallery-53.jpg' %}" width="185" height="185" alt=""></a></div>
                    </div>
                  </div>
                  <!-- <div class="col-12">
                    <h5 class="text-bold hr-title">About</h5>
                    <p>SkyBooking is the world’s first inspirational travel search service that focuses on what’s really important: your Interests and your Budget!</p>
                    <p>How practical is an amazing weekend break for skiing if what you really look forward is relaxing on a sandy beach? How good a great destination can be, if it’s too expensive to get there? SkyBooking offers an innovative and useful online experience, so you can find your perfect destination in just a couple of clicks!</p>
                  </div> -->
                  <!-- <div class="col-12">
                    <h5 class="text-bold hr-title">Recent Posts</h5>
                    <div class="row row-md-30 row-50 row-custom-offset-1 justify-content-sm-center text-md-left">
                      <div class="col-12">
                                      
                          <div class="unit flex-column flex-md-row">
                            <div class="unit-left"><img class="center-block img-responsive" src="{% static 'images/post-01.jpg' %}" width="180" height="110" alt=""></div>
                            <div class="unit-body">
                              <h5 class="text-bold" style="line-height: 28px;"><a class="text-info-dr" href="blog-single-post.html">9 Ways to Become a Successful <br class='veil.d-lg-block'> Travel Blogger</a></h5>
                              <hr class="divider divider-wide">
                              <p><span class="text-middle text-gray-light icon icon-xs mdi mdi-calendar-clock"></span><span class="text-middle inset-left-8">Sep 12, 2019 at 3:28pm</span></p>
                            </div>
                          </div>
                      </div>
                      <div class="col-12">
                                      
                          <div class="unit flex-column flex-md-row">
                            <div class="unit-left"><img class="center-block img-responsive" src="{% static 'images/post-02.jpg' %}" width="180" height="110" alt=""></div>
                            <div class="unit-body">
                              <h5 class="text-bold" style="line-height: 28px;"><a class="text-info-dr" href="blog-single-post.html">Visiting Paris on a Budget</a></h5>
                              <hr class="divider divider-wide">
                              <p><span class="text-middle text-gray-light icon icon-xs mdi mdi-calendar-clock"></span><span class="text-middle inset-left-8">Sep 12, 2019 at 3:28pm</span></p>
                            </div>
                          </div>
                      </div>
                      <div class="col-12">
                                     
                        <div class="unit flex-column flex-md-row">
                          <div class="unit-left"><img class="center-block img-responsive" src="{% static 'images/post-03.jpg' %}" width="180" height="110" alt=""></div>
                          <div class="unit-body">
                            <h5 class="text-bold" style="line-height: 28px;"><a class="text-info-dr" href="blog-single-post.html">How to Make Travel Videos</a></h5>
                            <hr class="divider divider-wide">
                            <p><span class="text-middle text-gray-light icon icon-xs mdi mdi-calendar-clock"></span><span class="text-middle inset-left-8">Sep 12, 2019 at 3:28pm</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-12">
                    <h5 class="text-bold hr-title">Tabs</h5>
                    <ul class="group group-sm">
                      <li><a class="button button-tag button-no-shadow" href="#">articles</a></li>
                      <li><a class="button button-tag button-no-shadow" href="#">news</a></li>
                      <li><a class="button button-tag button-no-shadow" href="#">travel</a></li>
                      <li><a class="button button-tag button-no-shadow" href="#">london</a></li>
                      <li><a class="button button-tag button-no-shadow" href="#">new york</a></li>
                      <li><a class="button button-tag button-no-shadow" href="#">Paris</a></li>
                      <li><a class="button button-tag button-no-shadow" href="#">airlines</a></li>
                      <li><a class="button button-tag button-no-shadow" href="#">british airlines</a></li>
                    </ul>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>
{% endblock %}