<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>FAQ page</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-gray-dark">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="d-inline-block brand-name" href="index.html"><img class="img-responsive center-block" src="images/logo-white.png" width="166" height="55" alt=""></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a></li>
                  <li class="active"><a href="#">About</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="overview.html">Overview</a></li>
                      <li><a href="testimonials.html">Testimonials</a></li>
                      <li><a href="faq.html">FAQ</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="blog-classic.html">Classic blog</a></li>
                      <li><a href="blog-grid.html">Grid blog</a></li>
                      <li><a href="blog-masonry.html">Masonry blog</a></li>
                      <li><a href="blog-modern.html">Modern blog</a></li>
                      <li><a href="blog-modern-2.html">Modern blog v.2</a></li>
                      <li><a href="blog-single-post.html">Blog single post</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <h5>Home</h5>
                        <ul>
                          <li><a href="index.html">Home variant 1</a></li>
                          <li><a href="index-2.html">Home variant 2</a></li>
                          <li><a href="index-3.html">Home variant 3</a></li>
                        </ul>
                        <h5>Gallery</h5>
                        <ul>
                          <li><a href="gallery-cobbles.html">Cobbles gallery</a></li>
                          <li><a href="gallery-grid.html">Grid gallery</a></li>
                          <li><a href="gallery-gallery-full.html">Grid gallery fullwidth</a></li>
                          <li><a href="gallery-masonry.html">Masonry gallery</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Extras</h5>
                        <ul>
                          <li><a href="404.html">404</a></li>
                          <li><a href="503.html">503</a></li>
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="soon.html">Coming Soon</a></li>
                          <li><a href="login.html">Login/Register</a></li>
                          <li><a href="sitemap.html">Site Map</a></li>
                          <li><a href="tickets.html">Tickets list</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Elements</h5>
                        <ul>
                          <li><a href="grid.html">Grid</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="bars.html">Progress bars</a></li>
                          <li><a href="tabs.html">Tabs & Accordions</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="buttons.html">Buttons</a></li>
                          <li><a href="typography.html">Typography</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Layouts</h5>
                        <ul>
                          <li><a href="header-default.html">Header default</a></li>
                          <li><a href="header-minimal.html">Header minimal</a></li>
                          <li><a href="header-wide.html">Header wide</a></li>
                          <li><a href="footer-default.html">Footer default</a></li>
                          <li><a href="footer-corp.html">Footer corporate</a></li>
                          <li><a href="footer-widget.html">Footer widget</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span class="fa-search"></span></a>
                  <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap">
                      <label class="form-label" for="rd-navbar-search-form-input">Search</label>
                      <input class="form-input rd-navbar-search-form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                    </div>
                    <button class="button fa-search"></button>
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
            <section class="bg-image-06">
              <div class="breadcrumb-wrapper">
                <div class="container context-dark section-30 section-xl-top-120">
                  <h5>Frequently Asked Questions</h5>
                  <h1 class="text-ubold">FAQ page</h1>
                  <ol class="breadcrumb">
                    <li><a href="./">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li>FAQ page
                    </li>
                  </ol>
                </div>
              </div>
            </section>
      <section class="section-80 section-lg-120 bg-image-02">
        <div class="container container-wide text-xl-left">
          <div class="row">
            <div class="col-lg-7 col-xl-6 col-xxl-5 col-lg-preffix-5 col-xxl-preffix-6">
              <h2 class="text-ubold">Frequently Asked Questions</h2>
              <hr class="divider divider-lg-left divider-primary divider-80">
              <!-- Responsive-tabs-->
              <div class="responsive-tabs responsive responsive-tabs-classic" data-type="accordion">
                <ul class="resp-tabs-list tabs-1 text-center tabs-group-default">
                  <li>How do I select a one-way flight?</li>
                  <li>Can I make ticket reservations both for domestic and international flights?</li>
                  <li>Why can't I find flights for a specific airline I' m interested in?</li>
                  <li>How can I be sure that my reservation has been completed successfully?</li>
                  <li>Do I have to confirm the departure time of my flight?</li>
                </ul>
                <div class="resp-tabs-container text-md-left tabs-group-default">
                  <div>
                    <p>Using the flights search engine you have two options: either simple journey (One way) or with return (Round trip). Round trip is the default option. If you are interested in a one way journey you will have to select the respective button.</p>
                  </div>
                  <div>
                    <p>Yes, you can select flights from any airport to everywhere in the world.</p>
                  </div>
                  <div>
                    <p>Using our search engine you can make ticket reservations for most of the airlines in the world. However you cannot book tickets for charter flights, flights operated by specific low cost airlines as well as by companies that don' t have representation in Greece.</p>
                  </div>
                  <div>
                    <p>Right after the completion of the reservation procedure on our web page, a success page will be displayed on your screen and an e-mail containing your e-ticket and related information will be sent to you within 24 hours from the moment you have paid for your reservation (usually this takes several minutes).</p>
                  </div>
                  <div>
                    <p>If you want to confirm the departure time of your flight we suggest you contact the airline or the airport in order to be accurately informed. We will make any possible effort to inform you in the event that something changed on your flight. Nevertheless, in case of bad weather conditions, we strongly recommend that you contact directly the airline or the airport.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-80 section-xl-120 bg-gray-lighter">
        <div class="container container-wide">
          <div class="row justify-content-sm-center">
            <div class="col-lg-8 col-xl-6">
              <h2 class="text-ubold">Some of Your Questions</h2>
              <hr class="divider divider-primary divider-80">
              <div class="text-lg-left offset-custom-60">
                <ul class="list-marked">
                  <li><a class="text-info-dr" href="#q1" data-custom-scroll-to="q1">Can I make changes to my reservation after I have purchased it?</a></li>
                  <li><a class="text-info-dr" href="#q2" data-custom-scroll-to="q2">I noticed some flights are operated by other airlines and have a 24-hour hold. What does this mean?</a></li>
                  <li><a class="text-info-dr" href="#q3" data-custom-scroll-to="q3">Does the number of passengers I choose limit my lowest fare flight choices?</a></li>
                  <li><a class="text-info-dr" href="#q4" data-custom-scroll-to="q4">Can I book flights for multiple-stop itineraries online?</a></li>
                  <li><a class="text-info-dr" href="#q5" data-custom-scroll-to="q5">I received a promotional offer to be redeemed online. How can I redeem it?</a></li>
                </ul>
                <dl class="list-terms-variant-1">
                  <dt class="h5" id="q1">Can I make changes to my reservation after I have purchased it?</dt>
                  <dd>
                    <p>Using the flights search engine you have two options: either simple journey (One way) or with return (Round trip). Round trip is the default option. If you are interested in a one way journey you will have to select the respective button.</p>
                  </dd>
                  <dt class="h5" id="q2">I noticed some flights are operated by other airlines and have a 24-hour hold. What does this mean?</dt>
                  <dd>
                    <p>Flights operated by certain partners require a 24-hour hold so we can ensure that your preferred flight and seat are processed with that partner. Once we receive confirmation of your itinerary from the partner airline, we will notify you via email.</p>
                  </dd>
                  <dt class="h5" id="q3">Does the number of passengers I choose limit my lowest fare flight choices?</dt>
                  <dd>
                    <p>Yes. Based on the number of travelers in your group, the lowest fare may not be available on a particular flight due to seat availability.</p>
                  </dd>
                  <dt class="h5" id="q4">Can I book flights for multiple-stop itineraries online?</dt>
                  <dd>
                    <p>Yes, you can purchase tickets for one-way or multiple-destination travel by selecting “One way” or “Multi-city” at the top of the flight search box on the home page.</p>
                  </dd>
                  <dt class="h5" id="q5">I received a promotional offer to be redeemed online. How can I redeem it?</dt>
                  <dd>
                    <p>If you have an offer code, you can select “All Search Options” on the home page and then enter it in the field at the bottom of the page. If you are redeeming a gift certificate or electronic travel certificate, it can be redeemed in the Payment section during the flight booking process.</p>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="page-footer">
        <div class="container container-wide text-md-left">
          <div class="row row-50 section-60 section-lg-90">
            <div class="col-md-6 col-xl-3"><a class="d-inline-block" href="./"><img class="img-responsive center-block" src="images/logo-white.png" width="166" height="55" alt=""></a>
              <p>SkyBooking is a travel search engine which instantly searches all available flight, bus and train prices on an exhaustive number of travel sites such as online travel agencies, major and low-cost airlines and tour-operators. We also compare hotel rooms and car rental deals. You can easily narrow down your search as much (or as little!) as you want. That means that if the trip you'd like is anywhere out there, you'll find it right away.</p>
            </div>
            <div class="col-md-6 col-xl-3">
              <h5 class="text-bold">Latest Blog Posts</h5>
              <hr class="divider divider-50 divider-info divider-sm-left">
              <div class="unit flex-column flex-md-row">
                <div class="unit-left"><img class="img-responsive center-block" src="images/footer-01.jpg" width="100" height="10" alt=""></div>
                <div class="unit-body"><span class="extra-small">Sep 8, 2019</span>
                  <p class="text-bold"><a href="blog-single-post.html">How These 5 People Found The Path to Their Dream Trip</a></p>
                </div>
              </div>
              <div class="unit flex-column flex-md-row">
                <div class="unit-left"><img class="img-responsive center-block" src="images/footer-02.jpg" width="100" height="10" alt=""></div>
                <div class="unit-body"><span class="extra-small">Sep 8, 2019</span>
                  <p class="text-bold"><a href="blog-single-post.html">The Ultimate Packing List for Female Travelers: 10 Useful Tips</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="inset-xxl-left-50">
                <h5 class="text-bold">What People Say</h5>
                <hr class="divider divider-50 divider-info divider-sm-left">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-dots-left owl-dots-white" data-dots="true" data-items="1" data-margin="30" data-mouse-drag="false">
                  <blockquote class="quote quote-sm">
                    <p>
                      <q>“I must tell you how impressed I am by your customer service. I have contacted you twice now and each time I received a prompt reply plus the additional attention of a manager. I have never received this kind of response from any other airline tickets booking site.”</q>
                    </p>
                    <p>
                      <cite>Phillip Holland</cite>
                    </p>
                  </blockquote>
                  <blockquote class="quote quote-sm">
                    <p>
                      <q>“I found your web site very easy to use. The entire process was very quick, and the price of my ticket was very affordable.”</q>
                    </p>
                    <p>
                      <cite>Amber Barnett</cite>
                    </p>
                  </blockquote>
                  <blockquote class="quote quote-sm">
                    <p>
                      <q>“Thank you for making it so easy. I really love the way I can view the itinerary and put payment info on the same page!”</q>
                    </p>
                    <p>
                      <cite>Ralph Green</cite>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="inset-xxl-left-50">
                <h5 class="text-bold">Contact Us</h5>
                <hr class="divider divider-50 divider-info divider-sm-left">
                <!-- RD Mailform-->
                <form class="rd-mailform rd-form text-md-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap form-wrap-sm">
                    <label class="text-gray-light form-label" for="footer-name">Your name</label>
                    <input class="form-input form-input-dark" id="footer-name" type="text" name="name" data-constraints="@Required">
                  </div>
                  <div class="form-wrap form-wrap-sm">
                    <label class="text-gray-light form-label" for="footer-email">Your e-mail</label>
                    <input class="form-input form-input-dark" id="footer-email" type="email" name="email" data-constraints="@Email @Required">
                  </div>
                  <div class="form-wrap form-wrap-sm">
                    <label class="text-gray-light form-label" for="footer-message">Message</label>
                    <textarea class="form-input form-input-dark" id="footer-message" style="height: 90px;" name="message" data-constraints="@Required"></textarea>
                  </div>
                  <button class="button button-primary button-xs button-naira button-naira-up" type="submit"><span class="icon fa-envelope-o"></span><span>Send</span></button>
                </form>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="container container-wide page-footer-min small">
          <div class="row row-20 justify-content-end-xs-middle">
            <div class="col-md-6 text-md-left">
              <ul class="list-inline">
                <li><a class="icon fa-facebook" href="#"></a></li>
                <li><a class="icon fa-twitter" href="#"></a></li>
                <li><a class="icon fa-pinterest-p" href="#"></a></li>
                <li><a class="icon fa-vimeo" href="#"></a></li>
                <li><a class="icon fa-google-plus" href="#"></a></li>
                <li><a class="icon fa-rss" href="#"></a></li>
              </ul>
            </div>
            <div class="col-md-6 text-md-right">
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>