<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Header wide</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-gray-dark">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="d-inline-block brand-name" href="index.html"><img class="img-responsive center-block" src="images/logo-white.png" width="166" height="55" alt=""></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a></li>
                  <li><a href="#">About</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="overview.html">Overview</a></li>
                      <li><a href="testimonials.html">Testimonials</a></li>
                      <li><a href="faq.html">FAQ</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="blog-classic.html">Classic blog</a></li>
                      <li><a href="blog-grid.html">Grid blog</a></li>
                      <li><a href="blog-masonry.html">Masonry blog</a></li>
                      <li><a href="blog-modern.html">Modern blog</a></li>
                      <li><a href="blog-modern-2.html">Modern blog v.2</a></li>
                      <li><a href="blog-single-post.html">Blog single post</a></li>
                    </ul>
                  </li>
                  <li class="active"><a href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <h5>Home</h5>
                        <ul>
                          <li><a href="index.html">Home variant 1</a></li>
                          <li><a href="index-2.html">Home variant 2</a></li>
                          <li><a href="index-3.html">Home variant 3</a></li>
                        </ul>
                        <h5>Gallery</h5>
                        <ul>
                          <li><a href="gallery-cobbles.html">Cobbles gallery</a></li>
                          <li><a href="gallery-grid.html">Grid gallery</a></li>
                          <li><a href="gallery-gallery-full.html">Grid gallery fullwidth</a></li>
                          <li><a href="gallery-masonry.html">Masonry gallery</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Extras</h5>
                        <ul>
                          <li><a href="404.html">404</a></li>
                          <li><a href="503.html">503</a></li>
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="soon.html">Coming Soon</a></li>
                          <li><a href="login.html">Login/Register</a></li>
                          <li><a href="sitemap.html">Site Map</a></li>
                          <li><a href="tickets.html">Tickets list</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Elements</h5>
                        <ul>
                          <li><a href="grid.html">Grid</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="bars.html">Progress bars</a></li>
                          <li><a href="tabs.html">Tabs & Accordions</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="buttons.html">Buttons</a></li>
                          <li><a href="typography.html">Typography</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Layouts</h5>
                        <ul>
                          <li><a href="header-default.html">Header default</a></li>
                          <li><a href="header-minimal.html">Header minimal</a></li>
                          <li><a href="header-wide.html">Header wide</a></li>
                          <li><a href="footer-default.html">Footer default</a></li>
                          <li><a href="footer-corp.html">Footer corporate</a></li>
                          <li><a href="footer-widget.html">Footer widget</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span class="fa-search"></span></a>
                  <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap">
                      <label class="form-label" for="rd-navbar-search-form-input">Search</label>
                      <input class="form-input rd-navbar-search-form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                    </div>
                    <button class="button fa-search"></button>
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section style="background: no-repeat url('images/background-03.jpg') center; background-size: cover;">
        <div class="container container-wide section-70 section-xxl-top-200 section-xxl-bottom-220">
          <div class="row justify-content-sm-center">
            <div class="col-xxl-6 col-xl-9 col-lg-11 text-left parallax-scene-wrapper">
              <div class="responsive-tabs text-lg-left nav-custom-dark view-animate fadeInUpBigger" data-type="horizontal">
                <!-- Responsive-tabs-->
                <ul class="nav-custom-tabs resp-tabs-list">
                  <li class="nav-item"><span class="icon mdi mdi-airplane"></span><span>Flights</span></li>
                  <li class="nav-item"><span class="icon mdi mdi-hotel"></span><span>Hotels</span></li>
                  <li class="nav-item"><span class="icon mdi mdi-car"></span><span>Car Hire</span></li>
                </ul>
                <div class="resp-tabs-container nav-custom-tab nav-custom-wide">
                  <div>
                    <form class="small" method="post" action="#">
                      <div class="row row-20 row-md-23">
                        <div class="col-lg-8">
                          <div class="form-wrap radio-inline-wrapper">
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-1" type="radio" checked>Round Trip
                            </label>
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-2" type="radio">One Way
                            </label>
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-3" type="radio">Multi-city
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-4 text-lg-right">
                          <div class="form-wrap">
                            <label class="checkbox-inline">
                              <input name="input-group-radio" value="checkbox-1" type="checkbox">Direct Flights Only
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-23">
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">From</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>New Delhi (DEL)</option>
                                  <option value="2">London (LHR)</option>
                                  <option value="3">Atlanta (ATL)</option>
                                  <option value="4">Tokyo (HND)</option>
                                  <option value="5">Chicago (ORD)</option>
                                </select>
                              </div>
                              <div class="form-wrap">
                                <label class="checkbox-inline">
                                  <input name="input-group-radio" value="checkbox-1" type="checkbox">Add Nearby Airports
                                </label>
                              </div>
                            </div>
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">To</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>New York (JFK)</option>
                                  <option value="2">Beijing (PEK)</option>
                                  <option value="3">Dubai (DXB)</option>
                                  <option value="4">Los Angeles (LAX)</option>
                                  <option value="5">Hong Kong (HKG)</option>
                                </select>
                              </div>
                              <div class="form-wrap">
                                <label class="checkbox-inline">
                                  <input name="input-group-radio" value="checkbox-2" type="checkbox">Add Nearby Airports
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-1-5">
                              <div class="form-wrap">
                                <label class="form-label-outside">Cabin Class</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>Economy</option>
                                  <option value="2">Premium Economy</option>
                                  <option value="3">Business</option>
                                  <option value="4">First</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-23 align-items-md-end">
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Departure</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="departure">
                              </div>
                            </div>
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Return</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="return">
                              </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                              <div class="row row-20 row-md-23">
                                <div class="col-sm-6">
                                  <div class="form-wrap">
                                    <label class="form-label-outside">Adults (16+)</label>
                                    <input class="form-input" type="number" min="0" value="2" data-constraints="@Numeric">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-wrap">
                                    <label class="form-label-outside">Children</label>
                                    <input class="form-input" type="number" min="0" value="0" data-constraints="@Numeric">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-xl-clear-flex align-items-md-end text-center text-xl-right">
                              <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Flight</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div>
                    <form class="small" method="post" action="#">
                      <div class="row row-20 row-md-23">
                        <div class="col-lg-8">
                          <div class="form-wrap radio-inline-wrapper">
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-1" type="radio" checked>Work
                            </label>
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-2" type="radio">Vacation
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-23">
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Destination</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>San Antonio</option>
                                  <option value="2">Hawaii</option>
                                  <option value="3">Budapest</option>
                                  <option value="4">Buenos Aires</option>
                                  <option value="5">Taipei</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Rooms</label>
                                <input class="form-input" type="number" min="0" value="1" data-constraints="@Numeric">
                              </div>
                            </div>
                            <div class="col-lg-1-5">
                              <div class="form-wrap">
                                <label class="form-label-outside">Star rating</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>5</option>
                                  <option value="2">4</option>
                                  <option value="3">3</option>
                                  <option value="4">2</option>
                                  <option value="5">1</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-23 align-items-md-end">
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Arrival</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="departure">
                              </div>
                            </div>
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Leave</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="return">
                              </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                              <div class="row row-20 row-md-23">
                                <div class="col-sm-6">
                                  <div class="form-wrap">
                                    <label class="form-label-outside">Adults (16+)</label>
                                    <input class="form-input" type="number" min="0" value="2" data-constraints="@Numeric">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-wrap">
                                    <label class="form-label-outside">Children</label>
                                    <input class="form-input" type="number" min="0" value="0" data-constraints="@Numeric">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-xl-clear-flex text-center text-xl-right">
                              <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Hotels</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div>
                    <form class="small" method="post" action="#">
                      <div class="row row-20 row-md-23">
                        <div class="col-lg-8">
                          <div class="form-wrap radio-inline-wrapper">
                            <label class="checkbox-inline">
                              <input name="input-group-radio" value="checkbox-2" type="checkbox">Return car to different location
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-23">
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Select car</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>Economy (Suzuki Swift)</option>
                                  <option value="2">Compact (Toyota Corolla)</option>
                                  <option value="3">Intermediate (KIA Cerato)</option>
                                  <option value="4">Standard (Hyundai Elantra)</option>
                                  <option value="5">Full Size (Toyota Camry)</option>
                                  <option value="6">Premium (Holden SV6)</option>
                                  <option value="7">Luxury (Holden Caprice V8)</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">AWD</label>
                                <input class="form-input" type="text" data-constraints="@Required @Integer" placeholder="000-000-000">
                              </div>
                            </div>
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Car class</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>Hatchback</option>
                                  <option value="4">Sedan</option>
                                  <option value="3">Coupe</option>
                                  <option value="2">MPV</option>
                                  <option value="1">SUV</option>
                                  <option value="1">Crossover</option>
                                  <option value="1">Convertible</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-23 align-items-md-end">
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Pick-up Date</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="departure">
                              </div>
                            </div>
                            <div class="col-12 col-sm">
                              <div class="form-wrap">
                                <label class="form-label-outside">Drop-off Date</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="return">
                              </div>
                            </div>
                            <div class="col-md-4 col-xl-3">
                              <div class="form-wrap">
                                <label class="form-label-outside">Passengers</label>
                                <input class="form-input" type="number" min="0" value="2" data-constraints="@Numeric">
                              </div>
                            </div>
                            <div class="col-12 col-xl-clear-flex text-center text-xl-right">
                              <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Cars</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-80 section-lg-120">
        <div class="container container-wide">
          <h5 class="view-animate fadeInUpBigger delay-04 text-info-dr">Why People Choose Us</h5>
          <h2 class="view-animate fadeInUpBigger delay-04 text-ubold">Our Advantages</h2>
          <hr class="view-animate fadeInUpBigger delay-06 divider divider-primary divider-80">
          <div class="row row-50">
            <div class="col-md-6 col-lg-3 icon-box view-animate fadeInUpSmall delay-08"><span class="icon icon-lg text-primary-grad icon-primary icon-circle mdi mdi-airplane"></span>
              <h5 class="text-bold">The Most Reliable<br class="d-none d-lg-block">Airlines</h5>
              <hr class="divider divider-info divider-50">
              <p class="inset-xxl-left-40 inset-xxl-right-40">We cooperate only with the most reliable airlines who can boast the perfect reputation.</p>
            </div>
            <div class="col-md-6 col-lg-3 icon-box view-animate fadeInUpSmall delay-08"><span class="icon icon-lg text-primary-grad icon-primary icon-circle mdi mdi-account-multiple"></span>
              <h5 class="text-bold">More Than 7M Visitors<br class="d-none d-lg-block">Each Month</h5>
              <hr class="divider divider-info divider-50">
              <p class="inset-xxl-left-40 inset-xxl-right-40">More than 7 million people use our services to find and book airline tickets.</p>
            </div>
            <div class="col-md-6 col-lg-3 icon-box view-animate fadeInUpSmall delay-08"><span class="icon icon-lg text-primary-grad icon-primary icon-circle fa-search"></span>
              <h5 class="text-bold">User-Friendly<br class="d-none d-lg-block">Search System</h5>
              <hr class="divider divider-info divider-50">
              <p class="inset-xxl-left-40 inset-xxl-right-40">Convenient and fast search for airline tickets, hotels and cars.</p>
            </div>
            <div class="col-md-6 col-lg-3 icon-box view-animate fadeInUpSmall delay-08"><span class="icon icon-lg text-primary-grad icon-primary icon-circle mdi mdi-calendar-multiple-check" style="font-size: 52px;"></span>
              <h5 class="text-bold">Fast and Reliable<br class="d-none d-lg-block">Ticket Booking</h5>
              <hr class="divider divider-info divider-50">
              <p class="inset-xxl-left-40 inset-xxl-right-40">We provide reliable ticket booking system, which is also perfect for first-time travellers.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="page-footer">
        <div class="container container-wide text-md-left">
          <div class="row row-50 section-60 section-lg-90">
            <div class="col-md-6 col-xl-3"><a class="d-inline-block" href="./"><img class="img-responsive center-block" src="images/logo-white.png" width="166" height="55" alt=""></a>
              <p>SkyBooking is a travel search engine which instantly searches all available flight, bus and train prices on an exhaustive number of travel sites such as online travel agencies, major and low-cost airlines and tour-operators. We also compare hotel rooms and car rental deals. You can easily narrow down your search as much (or as little!) as you want. That means that if the trip you'd like is anywhere out there, you'll find it right away.</p>
            </div>
            <div class="col-md-6 col-xl-3">
              <h5 class="text-bold">Latest Blog Posts</h5>
              <hr class="divider divider-50 divider-info divider-sm-left">
              <div class="unit flex-column flex-md-row">
                <div class="unit-left"><img class="img-responsive center-block" src="images/footer-01.jpg" width="100" height="10" alt=""></div>
                <div class="unit-body"><span class="extra-small">Sep 8, 2019</span>
                  <p class="text-bold"><a href="blog-single-post.html">How These 5 People Found The Path to Their Dream Trip</a></p>
                </div>
              </div>
              <div class="unit flex-column flex-md-row">
                <div class="unit-left"><img class="img-responsive center-block" src="images/footer-02.jpg" width="100" height="10" alt=""></div>
                <div class="unit-body"><span class="extra-small">Sep 8, 2019</span>
                  <p class="text-bold"><a href="blog-single-post.html">The Ultimate Packing List for Female Travelers: 10 Useful Tips</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="inset-xxl-left-50">
                <h5 class="text-bold">What People Say</h5>
                <hr class="divider divider-50 divider-info divider-sm-left">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-dots-left owl-dots-white" data-dots="true" data-items="1" data-margin="30" data-mouse-drag="false">
                  <blockquote class="quote quote-sm">
                    <p>
                      <q>“I must tell you how impressed I am by your customer service. I have contacted you twice now and each time I received a prompt reply plus the additional attention of a manager. I have never received this kind of response from any other airline tickets booking site.”</q>
                    </p>
                    <p>
                      <cite>Phillip Holland</cite>
                    </p>
                  </blockquote>
                  <blockquote class="quote quote-sm">
                    <p>
                      <q>“I found your web site very easy to use. The entire process was very quick, and the price of my ticket was very affordable.”</q>
                    </p>
                    <p>
                      <cite>Amber Barnett</cite>
                    </p>
                  </blockquote>
                  <blockquote class="quote quote-sm">
                    <p>
                      <q>“Thank you for making it so easy. I really love the way I can view the itinerary and put payment info on the same page!”</q>
                    </p>
                    <p>
                      <cite>Ralph Green</cite>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="inset-xxl-left-50">
                <h5 class="text-bold">Contact Us</h5>
                <hr class="divider divider-50 divider-info divider-sm-left">
                <!-- RD Mailform-->
                <form class="rd-mailform rd-form text-md-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap form-wrap-sm">
                    <label class="text-gray-light form-label" for="footer-name">Your name</label>
                    <input class="form-input form-input-dark" id="footer-name" type="text" name="name" data-constraints="@Required">
                  </div>
                  <div class="form-wrap form-wrap-sm">
                    <label class="text-gray-light form-label" for="footer-email">Your e-mail</label>
                    <input class="form-input form-input-dark" id="footer-email" type="email" name="email" data-constraints="@Email @Required">
                  </div>
                  <div class="form-wrap form-wrap-sm">
                    <label class="text-gray-light form-label" for="footer-message">Message</label>
                    <textarea class="form-input form-input-dark" id="footer-message" style="height: 90px;" name="message" data-constraints="@Required"></textarea>
                  </div>
                  <button class="button button-primary button-xs button-naira button-naira-up" type="submit"><span class="icon fa-envelope-o"></span><span>Send</span></button>
                </form>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="container container-wide page-footer-min small">
          <div class="row row-20 justify-content-end-xs-middle">
            <div class="col-md-6 text-md-left">
              <ul class="list-inline">
                <li><a class="icon fa-facebook" href="#"></a></li>
                <li><a class="icon fa-twitter" href="#"></a></li>
                <li><a class="icon fa-pinterest-p" href="#"></a></li>
                <li><a class="icon fa-vimeo" href="#"></a></li>
                <li><a class="icon fa-google-plus" href="#"></a></li>
                <li><a class="icon fa-rss" href="#"></a></li>
              </ul>
            </div>
            <div class="col-md-6 text-md-right">
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>