{% extends 'malawiplace_app/globals.html' %}
{% load static %} 
{% block content %}
{% load custom_template_tags %}
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script> -->


<!-- Swiper-->
<section class="swiper-slide-wrapper">
    <div class="swiper-container swiper-slider" data-simulate-touch="false" data-autoplay="3500" data-slide-effect="fade">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="{% static 'images/background-06.jpg' %}"></div>
            <div class="swiper-slide" data-slide-bg="{% static 'images/background-08.jpg' %}"></div>
        </div>
    </div>
    <div class="swiper-onSlider">
        <div class="container container-wide section-70 section-xxl-top-200 section-xxl-bottom-220">
            <div class="row justify-content-sm-center">
                <div class="col-xxl-6 col-xl-9 col-lg-11">
                    <div class="responsive-tabs text-lg-left nav-custom-dark view-animate fadeInUpSmall" data-type="horizontal">
                        <!-- Responsive-tabs-->
                        <ul class="nav-custom-tabs resp-tabs-list">
                            <li class="nav-item"><span class="icon mdi mdi-airplane"></span><span>Flights</span></li>
                            <li class="nav-item"><span class="icon mdi mdi-hotel"></span><span>Hotels</span></li>
                            <li class="nav-item"><span class="icon mdi mdi-car"></span><span>Car Hire/Rentals</span></li>
                            <!-- <li class="nav-item"><span class="icon mdi mdi-date"></span><span>Events</span></li>
                            <li class="nav-item"><span class="icon mdi mdi-food"></span><span>Restaurant</span></li> -->
                        </ul>
                        <div class="resp-tabs-container nav-custom-tab nav-custom-wide">
                            <div>
                                <form class="small" method="post" action="{% url 'flight_search' %}">
                                    {% csrf_token %}
                                    <div class="row row-20 row-md-23">
                                        <div class="col-lg-8">
                                            <div class="form-wrap radio-inline-wrapper">
                                                <label class="radio-inline">
                                                    <input name="input-group-radio" value="radio-1" type="radio" checked>Round Trip
                                                </label>
                                                <label class="radio-inline">
                                                <input name="input-group-radio" value="radio-2" type="radio">One Way
                                                </label>
                                                <label class="radio-inline">
                                                    <input name="input-group-radio" value="radio-3" type="radio">Multi-city
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 text-lg-right">
                                            <div class="form-wrap">
                                                <label class="checkbox-inline">
                                                    <input name="input-group-radio" value="checkbox-1" type="checkbox">Direct Flights Only
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row row-20 row-md-23">
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">From</label>
                                                        <input class="form-input form-input-gray" id="contact-name" type="text" name="depature_place" >
                                                        <!--Select 2-->
                                                        <!-- <select class=" " >
                                                            
                                                            <option>New Delhi (DEL)</option>
                                                            <option value="2">London (LHR)</option>
                                                            <option value="3">Atlanta (ATL)</option>
                                                            <option value="4">Tokyo (HND)</option>
                                                            <option value="5">Chicago (ORD)</option>
                                                        </select> -->
                                                    </div>
                                                    <div class="form-wrap">
                                                        <label class="checkbox-inline">
                                                            <input name="input-group-radio" value="checkbox-1" type="checkbox">Add Nearby Airports
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">To</label>
                                                        <input class="form-input form-input-gray" id="contact-name" type="text" name="destination" >
                                                        <!-- {{ filtered_flight.form.depature_place }} -->
                                                        <!--Select 2-->
                                                        <!-- <select class="form-input select-filter" >
                                                            
                                                            <option>New York (JFK)</option>
                                                            <option value="2">Beijing (PEK)</option>
                                                            <option value="3">Dubai (DXB)</option>
                                                            <option value="4">Los Angeles (LAX)</option>
                                                            <option value="5">Hong Kong (HKG)</option>
                                                        </select> -->
                                                    </div>
                                                    <div class="form-wrap">
                                                        <!-- <label class="checkbox-inline">
                                                        <input name="input-group-radio" value="checkbox-2" type="checkbox">Add Nearby Airports
                                                        </label> -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-1-5">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Cabin Class</label>
                                                        <input class="form-input form-input-gray" id="contact-name" type="text" name="cabin_class" >
                                                        <!--Select 2-->
                                                        <!-- <select class="form-input select-filter" >
                                                            <option>Economy</option>
                                                            <option value="2">Premium Economy</option>
                                                            <option value="3">Business</option>
                                                            <option value="4">First</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row row-20 row-md-23 align-items-md-end">
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Departure <small>(yyyy/mm/dd)</small></label>
                                                        <input class="fromDate form-input datepicker" placeholder="2022-01-01" type="text" name="depature_date">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Return <small>(yyyy/mm/dd)</small></label>
                                                        <input class="toDate form-input datepicker" placeholder="2022-01-01"  type="text"  name="return_date">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-4">
                                                    <div class="row row-20 row-md-23">
                                                        <div class="col-sm-6">
                                                            <div class="form-wrap">
                                                                <label class="form-label-outside">Adults (16+)</label>
                                                                <input name="capacity" class="form-input" type="number" min="0" value="2" data-constraints="@Numeric">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-wrap">
                                                                <label class="form-label-outside">Children</label>
                                                                <input class="form-input" type="number" min="0" value="0" data-constraints="@Numeric">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xl-clear-flex align-items-md-end text-center text-xl-right">
                                                    <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Flight</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="small" method="post" action="{% url 'hotel_search' %}">
                                    {% csrf_token %}
                                    <div class="row row-20 row-md-23">
                                        <div class="col-lg-8">
                                            <div class="form-wrap radio-inline-wrapper">
                                                <label class="radio-inline">
                                                    <input name="input-group-radio" value="radio-1" type="radio" checked>Work
                                                </label>
                                                <label class="radio-inline">
                                                    <input name="input-group-radio" value="radio-2" type="radio">Vacation
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row row-20 row-md-23">
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Destination</label>
                                                        <input class="form-input form-input-gray" id="contact-name" placeholder="eg london" type="text" name="location" >
                                                        <!--Select 2-->
                                                        <!-- <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                                            <option>San Antonio</option>
                                                            <option value="2">Hawaii</option>
                                                            <option value="3">Budapest</option>
                                                            <option value="4">Buenos Aires</option>
                                                            <option value="5">Taipei</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Rooms</label>
                                                        <input class="form-input" name="rooms" type="number" min="0"  data-constraints="@Numeric">
                                                    </div>
                                                </div>
                                                <div class="col-lg-1-5">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Room type</label>
                                                        <input class="form-input form-input-gray" id="contact-name" placeholder="eg Executive" type="text" name="category" >
                                                        <!--Select 2-->
                                                        <!-- <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                                            <option>5</option>
                                                            <option value="2">4</option>
                                                            <option value="3">3</option>
                                                            <option value="4">2</option>
                                                            <option value="5">1</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row row-20 row-md-23 align-items-md-end">
                                                <!-- <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Arrival <small>(yyyy/mm/dd)</small></label>
                                                        <input class="form-input" type="text"   name="arrival" data-constraints="@Required">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Leave <small>(yyyy/mm/dd)</small></label>
                                                        <input class="form-input" type="text"  name="return" data-constraints="@Required">
                                                    </div>
                                                </div> -->
                                                <div class="col-md-6 col-xl-4">
                                                    <div class="row row-20 row-md-23">
                                                        <div class="col-sm-6">
                                                            <div class="form-wrap">
                                                                <label class="form-label-outside">Number of beds </label>
                                                                <input class="form-input" type="number" min="0"  name="capacity" data-constraints="@Numeric">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <!-- <div class="form-wrap">
                                                                <label class="form-label-outside">Children</label>
                                                                <input class="form-input" type="number" min="0" value="0" data-constraints="@Numeric">
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xl-clear-flex text-center text-xl-right">
                                                    <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Hotels</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="small" method="post" action="{% url 'car_search' %}">
                                    {% csrf_token %}
                                    <div class="row row-20 row-md-23">
                                        <div class="col-lg-8">
                                            <div class="form-wrap radio-inline-wrapper">
                                                <label class="checkbox-inline">
                                                    <input name="input-group-radio" value="checkbox-2" type="checkbox">Return car to different location
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row row-20 row-md-23">
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Select car</label>
                                                        <input class="form-input form-input-gray" id="contact-name" placeholder="eg Tesla" type="text" name="car_name" >
                                                        <!--Select 2-->
                                                        <!-- <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                                            <option>Economy (Suzuki Swift)</option>
                                                            <option value="2">Compact (Toyota Corolla)</option>
                                                            <option value="3">Intermediate (KIA Cerato)</option>
                                                            <option value="4">Standard (Hyundai Elantra)</option>
                                                            <option value="5">Full Size (Toyota Camry)</option>
                                                            <option value="6">Premium (Holden SV6)</option>
                                                            <option value="7">Luxury (Holden Caprice V8)</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Passengers</label>
                                                        <input class="form-input" type="number" min="0"  data-constraints="@Numeric" name="passengers">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Car class</label>
                                                        <input class="form-input" type="text"  placeholder="Executive" name="category">
                                                        <!--Select 2-->
                                                        <!-- <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                                            <option>Hatchback</option>
                                                            <option value="4">Sedan</option>
                                                            <option value="3">Coupe</option>
                                                            <option value="2">MPV</option>
                                                            <option value="1">SUV</option>
                                                            <option value="1">Crossover</option>
                                                            <option value="1">Convertible</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row row-20 row-md-23 align-items-md-end">
                                                
                                                <div class="col-12 col-sm">
                                                    <label class="form-label-outside">Destination</label>
                                                    <input class="form-input form-input-gray" id="contact-name" placeholder="eg london" type="text" name="destination" >
                                                    <!-- <div class="form-wrap">
                                                        <label class="form-label-outside">Pick-up Date</label>
                                                        <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="departure">
                                                    </div> -->
                                                </div>
                                                <!-- <div class="col-12 col-sm">
                                                    <div class="form-wrap">
                                                        <label class="form-label-outside">Drop-off Date</label>
                                                        <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="return">
                                                    </div>
                                                </div> -->
                                                <div class="col-md-4 col-xl-3">
                                                    <!-- <div class="form-wrap">
                                                        <label class="form-label-outside">Passengers</label>
                                                        <input class="form-input" type="number" min="0"  data-constraints="@Numeric">
                                                    </div> -->
                                                </div>
                                                <div class="col-12 col-xl-clear-flex text-center text-xl-right">
                                                    <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Cars</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-60 section-xl-top-90 section-xl-bottom-80 bg-gray-lighter">
    <div class="container container-wide">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <!-- Owl Carousel-->
            <div class="owl-nav-variant-3 owl-dots-lg owl-carousel owl-carousel-middle owl-dots-primary" data-dots="true" data-nav="true" data-items="3" data-sm-items="4" data-md-items="5" data-lg-items="5" data-xl-items="6" data-margin="30" data-mouse-drag="false">
                {% for item in airlines %}
                <a class="thumbnail-opacity" href="#"><img class="img-responsive" src="{{item.airline_logo.url }}" width="107" height="74" alt=""></a>
                {% endfor %}
                
            </div>
        </div>
    </div>
</section>
<section class="section-80 section-lg-60">
    <div class="container container-wide">
        <h5 class="view-animate fadeInUpBigger delay-04 text-info-dr">Why People Choose Us</h5>
        <h2 class="view-animate fadeInUpBigger delay-04 text-ubold">Our Advantages</h2>
        <hr class="view-animate fadeInUpBigger delay-06 divider divider-primary divider-80">
        <div class="row row-50">
            <div class="col-md-6 col-lg-3 icon-box view-animate fadeInUpSmall delay-08"><span class="icon icon-lg text-primary-grad icon-primary icon-circle mdi mdi-airplane"></span>
                <h5 class="text-bold">The Most Reliable<br class="d-none d-lg-block">Airlines</h5>
                <hr class="divider divider-info divider-50">
                <p class="inset-xxl-left-40 inset-xxl-right-40">We cooperate only with the most reliable airlines who can boast the perfect reputation.</p>
            </div>
            <div class="col-md-6 col-lg-3 icon-box view-animate fadeInUpSmall delay-08"><span class="icon icon-lg text-primary-grad icon-primary icon-circle mdi mdi-account-multiple"></span>
                <h5 class="text-bold">More Than 7M Visitors<br class="d-none d-lg-block">Each Month</h5>
                <hr class="divider divider-info divider-50">
                <p class="inset-xxl-left-40 inset-xxl-right-40">More than 7 million people use our services to find and book airline tickets.</p>
            </div>
            <div class="col-md-6 col-lg-3 icon-box view-animate fadeInUpSmall delay-08"><span class="icon icon-lg text-primary-grad icon-primary icon-circle fa-search"></span>
                <h5 class="text-bold">User-Friendly<br class="d-none d-lg-block">Search System</h5>
                <hr class="divider divider-info divider-50">
                <p class="inset-xxl-left-40 inset-xxl-right-40">Convenient and fast search for airline tickets, hotels and cars.</p>
            </div>
            <div class="col-md-6 col-lg-3 icon-box view-animate fadeInUpSmall delay-08"><span class="icon icon-lg text-primary-grad icon-primary icon-circle mdi mdi-calendar-multiple-check" style="font-size: 52px;"></span>
                <h5 class="text-bold">Fast and Reliable<br class="d-none d-lg-block">Ticket Booking</h5>
                <hr class="divider divider-info divider-50">
                <p class="inset-xxl-left-40 inset-xxl-right-40">We provide reliable ticket booking system, which is also perfect for first-time travellers.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-image-05 context-dark section-70 section-xl-120">
    <div class="container parallax-scene-wrapper">
        <div class="row justify-content-sm-center">
            <div class="col-xl-6 col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="text-spacing-60 text-uppercase text-ubold p">24/7 Support</h1>
                <p class="big">Our Support Service is available 24 hours a day, 7 days a week to help you buy your tickets.</p><a class="button button-primary" href="{% url 'contact' %}">get in touch</a>
            </div>
        </div>
    </div>
</section>
<section class="section-80 section-lg-120 bg-gray-lighter">
    <div class="container container-wide">
        <h5 class="text-info-dr wow fadeInUp" data-wow-delay="0.1s">Recent Blog Posts</h5>
        <h2 class="text-ubold wow fadeInUp" data-wow-delay="0.2s">Tips & Tricks</h2>
        <hr class="divider divider-primary divider-80 wow fadeInUp" data-wow-delay="0.3s">
        <div class="row row-50">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <!-- Owl Carousel-->
                <div class="owl-carousel-fullheight owl-nav-light owl-nav-position-variant-1 owl-nav-variant-1 owl-carousel" data-nav="true" data-items="1" data-mouse-drag="false">
                    {% for item in events %}
                    <div class="context-dark post-blog post-blog-type-3" style="background: url( {{item.img.url}}) right; background-size: cover;">
                        <div class="post-blog-caption">
                            <div class="row row-10 justify-content-end-xs-middle">
                                <div class="col-md-4 text-md-left"><a class="label label-primary" href="{% url 'events'  %}">Events</a></div>
                                <div class="col-md-8 text-md-right">
                                    <p class="text-italic">September 7, 2019</p>
                                </div>
                            </div>
                            <h4 class="post-blog-title text-bold"><a href="{% url 'event_single' item.id %}">{{item.event_name}}</a></h4>
                            <p>{{item.event_description}}</p><a class="post-blog-link"
                                href="{% url 'event_single' item.id %}">Read more</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-xl-6">
                <div class="row row-50 text-left">
                    {% recent_blogs %}

                </div>
            </div>
        </div>
        <div class="view-animate fadeInUpSmall delay-08"><a class="button button-primary button-naira button-naira-up" href="{% url 'blog' %}"><span class="icon mdi mdi-arrow-right-bold"></span><span>View all blog posts</span></a></div>
    </div>
</section>
<section class="section-80 section-lg-120">
    <div class="container container-wide">
        <h5 class="text-info-dr">Hot Deals</h5>
        <h2 class="text-ubold">Popular Destinations</h2>
        <hr class="divider divider-primary divider-80">
    </div>
    <div class="row row-60 isotope-wrap">
        <!-- Isotope Filters-->
        <div class="col-12">
            <div class="isotope-filters isotope-filters-horizontal">
                <ul class="nav-custom">
                    <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All Offers</a></li>
                    {% for item in country_places %}
                    <li><a data-isotope-filter="{{item.continent_or_country}}" data-isotope-group="gallery" href="#">{{item.continent_or_country}}</a></li>
                    {% endfor %}
                    <!-- <li><a data-isotope-filter="Type 2" data-isotope-group="gallery" href="#">North America</a></li>
                    <li><a data-isotope-filter="Type 3" data-isotope-group="gallery" href="#">Asia</a></li>
                    <li><a data-isotope-filter="Type 4" data-isotope-group="gallery" href="#">Australia</a></li> -->
                </ul>
            </div>
        </div>
        <!-- Isotope Content-->
        <div class="col-12">
            <div class="row no-gutters isotope isotope-no-padding" data-isotope-layout="masonry" data-isotope-group="gallery">
                {% for item in places %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="{{item.place_country.continent_or_country}}">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{{item.img.url}}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">{{item.place_name }}</h3>
                            <p>{{item.about_place|slice:":100"|safe}}....</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                {% endfor %}
<!--                 
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="Type 2">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-36.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">London</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="Type 3">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-37.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">New York</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="Type 4">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-38.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">Rome</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="europe">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-39.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">Paris</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="Type 3">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-40.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">Blue Mountains</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="Type 4">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-42.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">Berlin</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="Type 2">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-43.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">Phuket</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="europe">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-41.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">Venice</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="Type 4">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-44.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">San Francisco</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-1-5 isotope-item" data-filter="Type 2">
                    <a class="thumbnail-variant-4" href="tickets.html"><img class="img-responsive center-block thumbnail-image" src="{% static 'images/post-45.jpg' %}" alt="">
                        <div class="caption">
                            <h3 class="text-ubold">Mediterranean</h3>
                            <p>The cultural, commercial, and financial center of Northern California.</p>
                            <div class="thumbnail-link"></div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="button-wrap">
        <a class="button button-primary button-naira button-naira-up" href="tickets.html">
            <div class="icon fa-search"></div><span>find tickets</span></a>
    </div>
</section>

{% endblock %}