<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header context-dark" style="background: no-repeat url('images/background-03.jpg') center; background-size: cover;">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-float" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="1px" data-xl-stick-up-offset="60px" data-xxl-stick-up-offset="60px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></div>
            <div class="rd-navbar-top-panel">
              <div class="rd-navbar-top-panel-left">
                <div class="rd-navbar-top-panel-200"><span class="text-middle icon icon-sm mdi mdi-map-marker"></span><a class="text-middle" href="#">2130 Fulton Street, San Diego, CA 94117-1080 USA</a></div>
                <div><span class="text-middle icon icon-sm mdi mdi-phone"></span><a class="text-middle" href="tel:#">1-800-1234-567</a></div>
                <div><span class="text-middle icon icon-sm mdi mdi-email-open"></span><a class="text-middle" href="mailto:#">info@demolink.org</a></div>
              </div>
              <div class="rd-navbar-top-panel-right">
                <div>
                  <ul class="list-inline">
                    <li><a class="icon fa-facebook" href="#"></a></li>
                    <li><a class="icon fa-twitter" href="#"></a></li>
                    <li><a class="icon fa-pinterest-p" href="#"></a></li>
                    <li><a class="icon fa-vimeo" href="#"></a></li>
                    <li><a class="icon fa-google-plus" href="#"></a></li>
                    <li><a class="icon fa-rss" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="d-inline-block brand-name" href="index.html"><img class="img-responsive center-block d-lg-none" src="images/logo-white.png" width="166" height="55" alt=""><img class="img-responsive center-block d-none d-lg-inline-block" src="images/logo-dark.png" width="166" height="55" alt=""></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a></li>
                  <li><a href="#">About</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="overview.html">Overview</a></li>
                      <li><a href="testimonials.html">Testimonials</a></li>
                      <li><a href="faq.html">FAQ</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="blog-classic.html">Classic blog</a></li>
                      <li><a href="blog-grid.html">Grid blog</a></li>
                      <li><a href="blog-masonry.html">Masonry blog</a></li>
                      <li><a href="blog-modern.html">Modern blog</a></li>
                      <li><a href="blog-modern-2.html">Modern blog v.2</a></li>
                      <li><a href="blog-single-post.html">Blog single post</a></li>
                    </ul>
                  </li>
                  <li class="active"><a href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <h5>Home</h5>
                        <ul>
                          <li><a href="index.html">Home variant 1</a></li>
                          <li><a href="index-2.html">Home variant 2</a></li>
                          <li><a href="index-3.html">Home variant 3</a></li>
                        </ul>
                        <h5>Gallery</h5>
                        <ul>
                          <li><a href="gallery-cobbles.html">Cobbles gallery</a></li>
                          <li><a href="gallery-grid.html">Grid gallery</a></li>
                          <li><a href="gallery-gallery-full.html">Grid gallery fullwidth</a></li>
                          <li><a href="gallery-masonry.html">Masonry gallery</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Extras</h5>
                        <ul>
                          <li><a href="404.html">404</a></li>
                          <li><a href="503.html">503</a></li>
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="soon.html">Coming Soon</a></li>
                          <li><a href="login.html">Login/Register</a></li>
                          <li><a href="sitemap.html">Site Map</a></li>
                          <li><a href="tickets.html">Tickets list</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Elements</h5>
                        <ul>
                          <li><a href="grid.html">Grid</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="bars.html">Progress bars</a></li>
                          <li><a href="tabs.html">Tabs & Accordions</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="buttons.html">Buttons</a></li>
                          <li><a href="typography.html">Typography</a></li>
                        </ul>
                      </li>
                      <li>
                        <h5>Layouts</h5>
                        <ul>
                          <li><a href="header-default.html">Header default</a></li>
                          <li><a href="header-minimal.html">Header minimal</a></li>
                          <li><a href="header-wide.html">Header wide</a></li>
                          <li><a href="footer-default.html">Footer default</a></li>
                          <li><a href="footer-corp.html">Footer corporate</a></li>
                          <li><a href="footer-widget.html">Footer widget</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span class="fa-search"></span></a>
                  <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap">
                      <label class="form-label" for="rd-navbar-search-form-input">Search</label>
                      <input class="form-input rd-navbar-search-form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                    </div>
                    <button class="button fa-search"></button>
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="container container-wide section-70 section-lg-90">
          <div class="row row-50 align-items-center justify-content-sm-between text-lg-left">
            <div class="section-lg-60 section-xl-140 col-lg-6 view-animate fadeInLeftSm delay-02">
              <h2 class="text-ubold text-capitalize"><span class="big" style="text-transform: initial;">Enjoy the Freedom</span></h2>
              <p class="big">With Sky Booking, you can easily book any ticket you need to travel safely thanks to our detailed system of searching and booking airline, car, and hotel tickets.</p><a class="button button-white-variant-1 button-sm" href="tickets.html"><span>Read More</span></a>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-6 text-left">
              <div class="responsive-tabs text-lg-left nav-custom-dark view-animate fadeInUpSmall" data-type="horizontal">
                <!-- Responsive-tabs-->
                <ul class="nav-custom-tabs resp-tabs-list">
                  <li class="nav-item"><span class="icon mdi mdi-airplane"></span><span>Flights</span></li>
                  <li class="nav-item"><span class="icon mdi mdi-hotel"></span><span>Hotels</span></li>
                  <li class="nav-item"><span class="icon mdi mdi-car"></span><span>Car Hire</span></li>
                </ul>
                <div class="resp-tabs-container nav-custom-tab nav-custom-wide">
                  <div>
                    <form class="small" method="post" action="#">
                      <div class="row row-20 row-md-26">
                        <div class="col-12">
                          <div class="form-wrap radio-inline-wrapper">
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-1" type="radio" checked>Round Trip
                            </label>
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-2" type="radio">One Way
                            </label>
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-3" type="radio">Multi-city
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">From</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>New Delhi (DEL)</option>
                                  <option value="2">Demo Item 1-1</option>
                                  <option value="3">Demo Item 1-2</option>
                                  <option value="4">Demo Item 1-2</option>
                                  <option value="5">Demo Item 2-1</option>
                                  <option value="6">Demo Item 2-2</option>
                                  <option value="7">Demo Item 2-3</option>
                                </select>
                              </div>
                              <div class="form-wrap">
                                <label class="checkbox-inline">
                                  <input name="input-group-radio" value="checkbox-1" type="checkbox">Add Nearby Airports
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">To</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>New York (JFK)</option>
                                  <option value="2">Demo Item 1-1</option>
                                  <option value="3">Demo Item 1-2</option>
                                  <option value="4">Demo Item 1-2</option>
                                  <option value="5">Demo Item 2-1</option>
                                  <option value="6">Demo Item 2-2</option>
                                  <option value="7">Demo Item 2-3</option>
                                </select>
                              </div>
                              <div class="form-wrap">
                                <label class="checkbox-inline">
                                  <input name="input-group-radio" value="checkbox-2" type="checkbox">Add Nearby Airports
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Departure</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="departure">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Return</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="return">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-md-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Cabin Class</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>Economy</option>
                                  <option value="2">Demo Item 1-1</option>
                                  <option value="3">Demo Item 1-2</option>
                                  <option value="4">Demo Item 1-2</option>
                                  <option value="5">Demo Item 2-1</option>
                                  <option value="6">Demo Item 2-2</option>
                                  <option value="7">Demo Item 2-3</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row row-20 row-md-26">
                                <div class="col-sm-6">
                                  <div class="form-wrap">
                                    <label class="form-label-outside">Adults (16+)</label>
                                    <input class="form-input" type="number" data-zeros="true" value="2" min="1" max="20" data-constraints="@Numeric">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-wrap">
                                    <label class="form-label-outside">Cabin Class</label>
                                    <input class="form-input" type="number" data-zeros="true" value="0" min="1" max="20" data-constraints="@Numeric">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-23 justify-content-sm-between align-items-sm-center text-center text-sm-lef6">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="checkbox-inline">
                                  <input name="input-group-radio" value="checkbox-2" type="checkbox">Direct Flights Only
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-6 col-xl-clear-flex text-sm-right">
                              <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Flight</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div>
                    <form class="small" method="post" action="#">
                      <div class="row row-20 row-md-26">
                        <div class="col-lg-8">
                          <div class="form-wrap radio-inline-wrapper">
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-1" type="radio" checked>Work
                            </label>
                            <label class="radio-inline">
                              <input name="input-group-radio" value="radio-2" type="radio">Vacation
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Destination</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>New York (JFK)</option>
                                  <option value="2">Demo Item 1-1</option>
                                  <option value="3">Demo Item 1-2</option>
                                  <option value="4">Demo Item 1-2</option>
                                  <option value="5">Demo Item 2-1</option>
                                  <option value="6">Demo Item 2-2</option>
                                  <option value="7">Demo Item 2-3</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Rooms</label>
                                <input class="form-input" type="number" min="0" value="1" data-constraints="@Numeric">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Arrival</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="departure">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Leave</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="return">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Adults (16+)</label>
                                <input class="form-input" type="number" min="0" value="2" data-constraints="@Numeric">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Children</label>
                                <input class="form-input" type="number" min="0" value="0" data-constraints="@Numeric">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-23 align-items-sm-en6">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Star rating</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>5</option>
                                  <option value="2">5</option>
                                  <option value="3">4</option>
                                  <option value="4">3</option>
                                  <option value="5">2</option>
                                  <option value="6">1</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <button class="button button-block button-primary button-sm button-naira button-naira-up" style="padding-left: 29px; padding-right: 29px;"><span class="icon fa-search"></span><span>Search Hotels</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div>
                    <form class="small" method="post" action="#">
                      <div class="row row-20 row-md-26">
                        <div class="col-lg-8">
                          <div class="form-wrap radio-inline-wrapper">
                            <label class="checkbox-inline">
                              <input name="input-group-radio" value="checkbox-2" type="checkbox">Return car to different location
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Select car</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>Group A (e.g.  Ford Fiesta 1.2)</option>
                                  <option value="2">Demo Item 1-1</option>
                                  <option value="3">Demo Item 1-2</option>
                                  <option value="4">Demo Item 1-2</option>
                                  <option value="5">Demo Item 2-1</option>
                                  <option value="6">Demo Item 2-2</option>
                                  <option value="7">Demo Item 2-3</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">AWD</label>
                                <input class="form-input" type="text" data-constraints="@Required @Integer" placeholder="000-000-000">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Car class</label>
                                <!--Select 2-->
                                <select class="form-input select-filter" data-minimum-results-for-search="Infinity">
                                  <option>Coupe</option>
                                  <option value="4">Demo Item 1-1</option>
                                  <option value="3">Demo Item 1-2</option>
                                  <option value="2">Demo Item 1-2</option>
                                  <option value="1">Demo Item 2-1</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Passengers</label>
                                <input class="form-input" type="number" min="0" value="2" data-constraints="@Numeric">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-20 row-md-26">
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Pick-up Date</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="departure">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-wrap">
                                <label class="form-label-outside">Drop-off Date</label>
                                <input class="form-input" type="text" data-time-picker="date" data-constraints="@Required" name="return">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Cars</span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="section-90">
        <div class="container container-wide">
          <div class="row row-50 text-lg-left">
            <div class="col-md-6 col-lg-3 view-animate fadeInUpSmall delay-06">
              <div class="unit flex-column flex-xl-row">
                <div class="unit-left"><span class="icon icon-info icon-lg mdi mdi-airplane" style="font-size: 52px;"></span></div>
                <div class="unit-body">
                  <h5 class="inset-xxl-right-120 text-ubold">The Most Reliable Airlines</h5>
                  <p>We cooperate only with the most reliable airlines who can boast the perfect reputation.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 view-animate fadeInUpSmall delay-06">
              <div class="unit flex-column flex-xl-row">
                <div class="unit-left"><span class="icon icon-info icon-lg mdi mdi-account-multiple"></span></div>
                <div class="unit-body">
                  <h5 class="inset-xxl-right-120 text-ubold"> More Than 7M Visitors Each Month</h5>
                  <p>More than 7 million people use our services to find and book airline tickets.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 view-animate fadeInUpSmall delay-06">
              <div class="unit flex-column flex-xl-row">
                <div class="unit-left"><span class="icon icon-info icon-lg mdi mdi-magnify"></span></div>
                <div class="unit-body">
                  <h5 class="inset-xxl-right-120 text-ubold">User-Friendly Search System</h5>
                  <p>Convenient and fast search for airline tickets, hotels, and cars.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 view-animate fadeInUpSmall delay-06">
              <div class="unit flex-column flex-xl-row">
                <div class="unit-left"><span class="icon icon-info icon-lg mdi mdi-calendar-multiple-check" style="font-size: 42px;"></span></div>
                <div class="unit-body">
                  <h5 class="inset-xxl-right-120 text-ubold">Fast and Reliable Ticket Booking</h5>
                  <p>We provide convenient ticket booking system, which is also perfect for first-time travellers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-80 section-lg-120 bg-gray-lighter">
        <div class="wow fadeInUp container container-wide text-left">
          <h2 class="text-center text-ubold">Popular Destinations</h2>
          <hr class="divider divider-80 divider-primary">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-nav-variant-1 owl-dots-lg owl-custom-offset-1" data-nav="true" data-items="1" data-md-items="2" data-xl-items="3" data-margin="30" data-mouse-drag="false">
                  <!-- Thumbnail-->
                  <div class="thumbnail-variant-1">
                    <div><img class="img-responsive center-block" src="images/post-20.jpg" width="270" height="360" alt=""></div>
                    <div class="caption">
                      <h4 class="text-ubold">London</h4>
                      <p class="text-italic text-gray">England</p>
                      <p>Departure City:</p>
                      <ul class="list-marked list-marked-no-padding list-marked-flex text-base">
                        <li><a class="text-info-dr" href="tickets.html">Paris</a>
                          <div><sup>From</sup><span>$98.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Rome</a>
                          <div><sup>From</sup><span>$134.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Barcelona</a>
                          <div><sup>From</sup><span>$119.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Berlin</a>
                          <div><sup>From</sup><span>$99.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">New York</a>
                          <div><sup>From</sup><span>$358.00</span></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Thumbnail-->
                  <div class="thumbnail-variant-1">
                    <div><img class="img-responsive center-block" src="images/post-21.jpg" width="270" height="360" alt=""></div>
                    <div class="caption">
                      <h4 class="text-ubold">Venice</h4>
                      <p class="text-italic text-gray">Italy</p>
                      <p>Departure City:</p>
                      <ul class="list-marked list-marked-no-padding list-marked-flex text-base">
                        <li><a class="text-info-dr" href="tickets.html">Paris</a>
                          <div><sup>From</sup><span>$98.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Rome</a>
                          <div><sup>From</sup><span>$134.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Barcelona</a>
                          <div><sup>From</sup><span>$119.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Berlin</a>
                          <div><sup>From</sup><span>$99.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">New York</a>
                          <div><sup>From</sup><span>$358.00</span></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Thumbnail-->
                  <div class="thumbnail-variant-1">
                    <div><img class="img-responsive center-block" src="images/post-22.jpg" width="270" height="360" alt=""></div>
                    <div class="caption">
                      <h4 class="text-ubold">Paris</h4>
                      <p class="text-italic text-gray">France</p>
                      <p>Departure City:</p>
                      <ul class="list-marked list-marked-no-padding list-marked-flex text-base">
                        <li><a class="text-info-dr" href="tickets.html">Amsterdam</a>
                          <div><sup>From</sup><span>$98.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Rome</a>
                          <div><sup>From</sup><span>$134.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Barcelona</a>
                          <div><sup>From</sup><span>$119.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">Berlin</a>
                          <div><sup>From</sup><span>$99.00</span></div>
                        </li>
                        <li><a class="text-info-dr" href="tickets.html">New York</a>
                          <div><sup>From</sup><span>$358.00</span></div>
                        </li>
                      </ul>
                    </div>
                  </div>
          </div>
        </div>
      </section>
      <section class="section-80 section-xxl-120 bg-image-04 view-animate fadeInLeftSm">
        <div class="container container-wide">
          <div class="row text-xl-left">
            <div class="col-xxl-5 col-xl-6 col-xl-preffix-6 view-animate fadeInRightSm delay-04">
              <p class="text-info-dr big">24/7 Support</p>
              <h1 class="text-ubold p text-spacing-0 text-capitalize">Tel. <a class="text-dark" href="tel:#">1-800-1234-567</a></h1>
              <p class="text-base big">Our Support Service is available 24 hours a day, 7 days a week to help you buy your tickets.</p><a class="button button-primary" href="contacts.html">get in touch</a>
            </div>
          </div>
        </div>
      </section>
      <section class="section-80 section-lg-120 bg-gray-dark">
        <div class="container container-wide text-left">
          <div class="context-dark view-animate fadeInUpSmall delay-08">
            <h2 class="text-center text-ubold">Latest Blog Posts</h2>
          </div>
          <hr class="divider divider-80 divider-primary view-animate fadeInUpSmall delay-08">
          <!-- Owl Carousel-->
          <div class="owl-custom-offset-1 view-animate fadeInUpSmall delay-08">
            <div class="owl-dots-xl owl-flex owl-carousel" data-dots="true" data-items="1" data-md-items="2" data-lg-items="3" data-xxl-items="4" data-margin="30" data-mouse-drag="false">
                    <!-- Post grid style-->
                    <div class="post-blog-grid post"><img class="img-responsive center-block" src="images/post-07.jpg" width="570" height="400" alt="">
                      <div class="caption">
                        <div class="post-blog-date">09</div>
                        <div class="small">September</div>
                      </div>
                      <div class="post-blog-grid-body">
                        <h4 class="post-blog-grid-title text-bold"><a class="text-primary-dr" href="blog-single-post.html">9 Ways to Become a Successful Travel Blogger</a></h4>
                        <p>Travel blogging is a crowded field — and it gets more crowded day by day. And a lot of the advice that people give are actually counterintuitive to your success. It takes a lot of hard work to be successful in this industry...</p>
                      </div>
                      <div class="post-blog-grid-footer">
                        <div class="post-blog-meta">
                          <ul>
                            <li class="post-blog-tag"><span class="icon"></span><a class="text" href="blog-modern.html">Article</a></li>
                            <li class="post-blog-comments"><span class="icon"></span><span class="text">23</span></li>
                            <li class="post-blog-views"><span class="icon"></span><span class="text">684</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Post grid style-->
                    <div class="post-blog-grid post"><img class="img-responsive center-block" src="images/post-08.jpg" width="570" height="400" alt="">
                      <div class="caption">
                        <div class="post-blog-date">09</div>
                        <div class="small">September</div>
                      </div>
                      <div class="post-blog-grid-body">
                        <h4 class="post-blog-grid-title text-bold"><a class="text-primary-dr" href="blog-single-post.html">Visiting Paris on a Budget</a></h4>
                        <p>Paris is one of top-rated European cities – people  usually try to spend there as much time as possible, and you also may be lucky enough to spend an autumn house-sitting there. But even if you have somewhere...</p>
                      </div>
                      <div class="post-blog-grid-footer">
                        <div class="post-blog-meta">
                          <ul>
                            <li class="post-blog-tag"><span class="icon"></span><a class="text" href="blog-modern.html">Article</a></li>
                            <li class="post-blog-comments"><span class="icon"></span><span class="text">23</span></li>
                            <li class="post-blog-views"><span class="icon"></span><span class="text">684</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Post grid style-->
                    <div class="post-blog-grid post"><img class="img-responsive center-block" src="images/post-09.jpg" width="570" height="400" alt="">
                      <div class="caption">
                        <div class="post-blog-date">09</div>
                        <div class="small">September</div>
                      </div>
                      <div class="post-blog-grid-body">
                        <h4 class="post-blog-grid-title text-bold"><a class="text-primary-dr" href="blog-single-post.html">How to Make Travel Videos</a></h4>
                        <p>Introducing our new Travel Video Course, taught by experts Sharon Carpenter and Beverly Bennett! They have over 31,000,000 YouTube views, have worked with big brands, tourism boards, and production...</p>
                      </div>
                      <div class="post-blog-grid-footer">
                        <div class="post-blog-meta">
                          <ul>
                            <li class="post-blog-tag"><span class="icon"></span><a class="text" href="blog-modern.html">Article</a></li>
                            <li class="post-blog-comments"><span class="icon"></span><span class="text">23</span></li>
                            <li class="post-blog-views"><span class="icon"></span><span class="text">684</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Post grid style-->
                    <div class="post-blog-grid post"><img class="img-responsive center-block" src="images/post-10.jpg" width="570" height="400" alt="">
                      <div class="caption">
                        <div class="post-blog-date">09</div>
                        <div class="small">September</div>
                      </div>
                      <div class="post-blog-grid-body">
                        <h4 class="post-blog-grid-title text-bold"><a class="text-primary-dr" href="blog-single-post.html">How Found The Path to Their Dream Trip</a></h4>
                        <p>Last year, we announced a case study program, in which we would work with a cross-section of readers and help them plan and execute their trips. Step-by-step, we walked them through all the stages of travel...</p>
                      </div>
                      <div class="post-blog-grid-footer">
                        <div class="post-blog-meta">
                          <ul>
                            <li class="post-blog-tag"><span class="icon"></span><a class="text" href="blog-modern.html">Article</a></li>
                            <li class="post-blog-comments"><span class="icon"></span><span class="text">23</span></li>
                            <li class="post-blog-views"><span class="icon"></span><span class="text">684</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
            </div>
          </div>
          <div class="button-wrap view-animate text-center fadeInUpSmall delay-08"><a class="button button-primary button-naira button-naira-up" href="blog-modern.html"><span class="icon mdi mdi-arrow-right-bold"></span><span>View all blog posts</span></a></div>
        </div>
      </section>
      <section class="bg-gray-lighter">
        <div class="container container-wide section-top-60 section-bottom-90">
          <div class="owl-nav-offset-30 owl-nav-variant-1 owl-dots-lg owl-carousel" data-nav="true" data-stage-padding="15" data-items="2" data-sm-items="3" data-md-items="4" data-xl-items="5" data-xxl-items="6" data-margin="30" data-mouse-drag="false">
            <div class="section-30">
              <div class="thumbnail-variant-2"><a class="d-inline-block" href="#"><img class="img-responsive center-block" src="images/logo-08.jpg" width="270" height="190" alt=""></a></div>
            </div>
            <div class="section-30">
              <div class="thumbnail-variant-2"><a class="d-inline-block" href="#"><img class="img-responsive center-block" src="images/logo-09.jpg" width="270" height="190" alt=""></a></div>
            </div>
            <div class="section-30">
              <div class="thumbnail-variant-2"><a class="d-inline-block" href="#"><img class="img-responsive center-block" src="images/logo-10.jpg" width="270" height="190" alt=""></a></div>
            </div>
            <div class="section-30">
              <div class="thumbnail-variant-2"><a class="d-inline-block" href="#"><img class="img-responsive center-block" src="images/logo-11.jpg" width="270" height="190" alt=""></a></div>
            </div>
            <div class="section-30">
              <div class="thumbnail-variant-2"><a class="d-inline-block" href="#"><img class="img-responsive center-block" src="images/logo-12.jpg" width="270" height="190" alt=""></a></div>
            </div>
            <div class="section-30">
              <div class="thumbnail-variant-2"><a class="d-inline-block" href="#"><img class="img-responsive center-block" src="images/logo-13.jpg" width="270" height="190" alt=""></a></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="page-footer-widget">
        <div class="container container-wide text-md-left">
          <div class="row row-50 section-60 section-lg-90">
            <div class="col-md-6 col-xl-3">
              <h5 class="text-bold">Contact Us</h5>
              <hr class="divider divider-50 divider-info-dr divider-sm-left">
              <div class="unit unit-spacing-15 flex-row text-left">
                <div class="unit-left"><span class="text-primary-dr icon icon-sm mdi mdi-map-marker"></span></div>
                <div class="unit-body"><a class="text-gray" href="#">2130 Fulton Street, San Diego,<br class="d-none d-xl-block">CA 94117-1080 USA</a></div>
              </div>
              <div class="unit unit-spacing-15 flex-row text-left">
                <div class="unit-left"><span class="text-primary-dr icon icon-sm mdi mdi-phone"></span></div>
                <div class="unit-body"><a class="text-gray" href="tel:#">1-800-1234-567</a></div>
              </div>
              <div class="unit unit-spacing-15 flex-row text-left">
                <div class="unit-left"><span class="text-primary-dr icon icon-sm mdi mdi-email-open"></span></div>
                <div class="unit-body"><a class="text-gray" href="mailto:#">info@demolink.org</a></div>
              </div>
              <ul class="list-inline">
                <li><a class="icon icon-sm text-gray-light fa-facebook" href="#"></a></li>
                <li><a class="icon icon-sm text-gray-light fa-twitter" href="#"></a></li>
                <li><a class="icon icon-sm text-gray-light fa-pinterest-p" href="#"></a></li>
                <li><a class="icon icon-sm text-gray-light fa-vimeo" href="#"></a></li>
                <li><a class="icon icon-sm text-gray-light fa-google-plus" href="#"></a></li>
                <li><a class="icon icon-sm text-gray-light fa-rss" href="#"></a></li>
              </ul>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="inset-xxl-right-65">
                <h5 class="text-bold">Newsletter</h5>
                <hr class="divider divider-50 divider-info-dr divider-sm-left">
                <p>Sign up to our newsletter and be the first to know about latest news, special offers, events, and discounts.</p>
                <!-- RD Mailform-->
                <form class="text-md-left rd-mailform rd-form" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap form-wrap-sm">
                    <label class="form-label" for="subscribe-email-footer">Enter your e-mail...</label>
                    <input class="form-input" id="subscribe-email-footer" type="email" name="email" data-constraints="@Required @Email">
                  </div>
                  <button class="button button-primary button-xxs button-naira button-naira-up" type="submit"><span class="icon fa-envelope-o"></span><span>Subscribe</span></button>
                </form>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <h5 class="text-bold">Twitter Feed</h5>
              <hr class="divider divider-50 divider-info-dr divider-sm-left">
              <!-- RD Twitter Feed-->
              <div class="text-left twitter" data-twitter-username="templatemonster">
                <div class="twitter-item" data-twitter-type="tweet">
                  <div data-tweet="text"></div>
                </div>
                <div class="twitter-item" data-twitter-type="tweet">
                  <div data-tweet="text"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <h5 class="text-bold">Flickr Feed</h5>
              <hr class="divider divider-50 divider-info-dr divider-sm-left">
              <!-- RD Flickr-->
              <div class="gallery flickr" data-flickr-tags="61270tm">
                <div class="gallery-item"><a class="d-inline-block thumbnail-img" data-link="href" href="" target="_blank" data-type="flickr-item"><img class="img-responsive" data-image_q="src" data-title="alt" src="images/_blank.png" alt=""></a></div>
                <div class="gallery-item"><a class="d-inline-block thumbnail-img" data-link="href" href="" target="_blank" data-type="flickr-item"><img class="img-responsive" data-image_q="src" data-title="alt" src="images/_blank.png" alt=""></a></div>
                <div class="gallery-item"><a class="d-inline-block thumbnail-img" data-link="href" href="" target="_blank" data-type="flickr-item"><img class="img-responsive" data-image_q="src" data-title="alt" src="images/_blank.png" alt=""></a></div>
                <div class="gallery-item"><a class="d-inline-block thumbnail-img" data-link="href" href="" target="_blank" data-type="flickr-item"><img class="img-responsive" data-image_q="src" data-title="alt" src="images/_blank.png" alt=""></a></div>
                <div class="gallery-item"><a class="d-inline-block thumbnail-img" data-link="href" href="" target="_blank" data-type="flickr-item"><img class="img-responsive" data-image_q="src" data-title="alt" src="images/_blank.png" alt=""></a></div>
                <div class="gallery-item"><a class="d-inline-block thumbnail-img" data-link="href" href="" target="_blank" data-type="flickr-item"><img class="img-responsive" data-image_q="src" data-title="alt" src="images/_blank.png" alt=""></a></div>
                <div class="gallery-item"><a class="d-inline-block thumbnail-img" data-link="href" href="" target="_blank" data-type="flickr-item"><img class="img-responsive" data-image_q="src" data-title="alt" src="images/_blank.png" alt=""></a></div>
                <div class="gallery-item"><a class="d-inline-block thumbnail-img" data-link="href" href="" target="_blank" data-type="flickr-item"><img class="img-responsive" data-image_q="src" data-title="alt" src="images/_blank.png" alt=""></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="container container-wide page-footer-min text-lg-left">
          <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>