{% extends 'malawiplace_app/globals.html' %}
{% load static %} 
{% block content %}
            <section class="bg-image-06">
              <div class="breadcrumb-wrapper">
                <div class="container context-dark section-30 section-xl-top-60">
                  <h5>Our Restaurants</h5>
                  <h1 class="text-ubold"> Restaurants</h1>
                  <ol class="breadcrumb">
                    <li><a href="{% url 'Home' %}">Home</a></li>
                    <!-- <li><a href="#">Blog</a></li> -->
                    <li>Restaurants
                    </li>
                  </ol>
                </div>
              </div>
            </section>
      <section class="section-80 section-lg-120 bg-gray-lighter">
        <div class="container container-wide text-lg-left">
          <div class="row row-50 justify-content-sm-center justify-content-xxl-between">
            <div class="order-lg-1 col-lg-7 col-xl-8 col-xxl-8">
            {% if searched %}
              <div class="row row-30">
                {% for item in restrant %}
                <div class="col-lg-12 col-md-6 col-xl-6">
                        <!-- Post masonry style-->
                        
                        <div class="post-blog-masonry post">
                          <img class="img-responsive center-block"      src="{{item.logo.url}}" width="570" height="400" alt="">
                          <!-- <div class="caption">
                            <div class="post-blog-date"></div>
                            <div class="small">{{item.date}}</div>
                          </div> -->
                          <div class="post-blog-masonry-body">
                            <div class="post-blog-meta">
                              <ul class="group-42">
                                <!-- <li class="post-blog-tag"><span class="icon"></span><a class="text" href="#">{{item.category}}</a></li>
                                <li class="post-blog-comments"><span class="icon"></span><span class="text">23</span></li>
                                <li class="post-blog-views"><span class="icon"></span><span class="text">684</span></li> -->
                              </ul>
                            </div>
                            <h4 class="post-blog-masonry-title text-bold"><a class="text-primary-dr" href="{% url 'blog_single' item.id %}">{{item.restrant_name}}</a></h4>
                            <p>{{item.location}}</p>
                            
                          </div>
                        </div>
                        
                        
                      </div>
                      {% empty %}
                      <p>sorry, no macthing restaurants were found!</p>
                {% endfor %}
              
              </div>
              {% else %}
              <p> No serach was performed!</p>
              {% endif %}
                    <!-- Bootstrap Pagination-->
                    <!-- <ul class="pagination pagination-offset">
                      <li class="disabled"><span aria-label="Previous"><span class="fa-chevron-left" aria-hidden="true"></span></span></li>
                      <li class="active"><span>1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#" aria-label="Next"><span class="fa-chevron-right" aria-hidden="true"></span></a></li>
                    </ul> -->
            </div>
            <div class="col-lg-5 col-xl-4 col-xxl-3">
              <aside class="text-md-left">
                <div class="row row-60 row-lg-90">
                  <div class="col-12">
                    <h5 class="text-bold hr-title">Search</h5>
                    <!-- RD Search-->
                    <form class="form-inline rd-search" action="{% url 'restaurant_search' %}" method="post">
                        {% csrf_token %}
                      <div class="form-wrap">
                        <!-- <label class="form-label" for="rd-search-form-input">Search</label> -->
                        <input class="form-input"  type="text" name="searched" >
                      </div>
                      <button class="button button-primary button-sm button-naira button-naira-up" type="submit"><span class="icon fa-search"></span><span>Search</span></button>
                    </form>
                  </div>

                  <div class="col-12">
                    <h5 class="text-bold hr-title">Gallery</h5>
                    <div class="row row-md-gutter" data-lightgallery="group">
                      <div class="col-6 col-lg-4 col-sm-3"><a class="thumbnail-img" data-lightgallery="item" data-size="800x450" href="images/overview-01.jpg"><img class="img-responsive center-block" src="{% static 'images/gallery-48.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-lg-4 col-sm-3"><a class="thumbnail-img" data-lightgallery="item" data-size="384x560" href="images/post-36.jpg"><img class="img-responsive center-block" src="{% static 'images/gallery-49.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-lg-4 col-sm-3"><a class="thumbnail-img" data-lightgallery="item" data-size="576x372" href="images/gallery-20.jpg"><img class="img-responsive center-block" src="{% static 'images/gallery-50.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-lg-4 col-sm-3"><a class="thumbnail-img" data-lightgallery="item" data-size="384x560" href="images/post-43.jpg"><img class="img-responsive center-block" src="{% static 'images/gallery-51.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-lg-4 col-sm-3"><a class="thumbnail-img" data-lightgallery="item" data-size="420x590" href="images/gallery-28.jpg"><img class="img-responsive center-block" src="{% static 'images/gallery-52.jpg' %}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-lg-4 col-sm-3"><a class="thumbnail-img" data-lightgallery="item" data-size="420x590" href="images/gallery-25.jpg"><img class="img-responsive center-block" src="{% static 'images/gallery-53.jpg' %}" width="185" height="185" alt=""></a></div>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}