{% extends 'malawiplace_app/globals.html' %}
{% load static %} 
{% block content %}
{% load custom_template_tags %}
<section class="bg-image-06">
  <div class="breadcrumb-wrapper">
    <div class="container context-dark section-30 section-xl-top-120">
      <h5>Our Latest News</h5>
      <h1 class="text-ubold">Room Details</h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'Home' %}">Home</a></li>
        <!-- <li><a href="">Rooms</a></li> -->
        <li>Room-details
        </li>
      </ol>
    </div>
  </div>
</section>

      <section style="padding: -100px;" class="section-80 section-lg-120">
        <div class="container container-wide text-lg-left">
          <div class="row row-50 justify-content-sm-center justify-content-xxl-between">
            <div class="order-lg-1 col-lg-7 col-xxl-7">
              <div class="blog-post-item">
                <h2 class="text-ubold">{{room.hotel.hotel_name}}</h2>
                
                <p>{{room.description|linebreaks}}.</p>
                
                
              </div>
              

              <div class="row row-offset-2 justify-content-sm-center">
                <div class="col-lg-8">
                  <div class="table-responsive">
                    <table class="table text-left">
                      <thead>
                        <tr>
                          <th class="text-regular text-left">room-type</th>
                          <th class="text-regular text-left">location</th>
                          <th class="text-regular text-left">capacity</th>
                          <th class="text-regular text-left">price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{room.room_category}}</td>
                          <td>{{room.location}}</td>
                          <td>{{room.num_of_beds}}</td>
                          <td>MWK{{room.price}}</td>
                        </tr>
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <a class="button button-primary button-sm"  href="{% url 'room-details-book' room.pk %}">Book Room</a>
              {% comment %}
              <div class="blog-post-item" id="reply">
                <h5 class="text-bold hr-title">Booking Room</h5>
                <!-- RD Mailform-->
                <form class="rd-mailform rd-form text-left"   method="post" action="{% url 'success' %}">
                    {% csrf_token %}
                  <div class="row row-20">
                    <div class="col-md-6">
                      <div class="form-wrap">
                        <label class="form-label-outside" for="contact-name">First name</label>
                        <!-- {{ form.customer_name}} -->
                        <input class="form-input form-input-gray" type="text" name="name" data-constraints="@Required">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-wrap">
                        <label class="form-label-outside" for="contact-surname">Room-type</label>
                        <!-- {{form.room_type}} -->
                        <input class="form-input form-input-gray" value="{{room.room_category}}" type="text" name="room-type" data-constraints="@Required">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-wrap">
                        <label class="form-label-outside" for="contact-email">E-mail</label>
                        <!-- {{form.email}} -->
                        <input class="form-input form-input-gray" type="email" name="email" data-constraints="@Required @Email">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-wrap">
                        <label class="form-label-outside" for="contact-phone">Phone</label>
                        <!-- {{form.email}} -->
                        <input class="form-input form-input-gray" type="text" name="phone" data-constraints="@Required @Integer">
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-wrap">
                          <label class="form-label-outside" for="contact-email">Check in</label>
                          <!-- {{form.check_in}} -->
                          <input class="form-input form-input-gray datepicker fromDate" type="" name="check-in" data-constraints="@Required ">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-wrap">
                          <label class="form-label-outside" for="contact-phone">Check out</label>
                          <!-- {{form.check_out}} -->
                          <input class="form-input form-input-gray datepicker toDate"  type="text" name="check-out" data-constraints="@Required @Integer">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-wrap">
                          <label class="form-label-outside" for="contact-email">Number of beds</label>
                          <!-- {{form.num_of_beds}} -->
                          <input class="form-input form-input-gray" value="{{room.num_of_beds}}" name="num-of-beds" data-constraints="@Required @Integer">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-wrap">
                          <label class="form-label-outside" for="contact-phone">Number of rooms</label>
                          <!-- {{form.number_of_rooms}} -->
                          <input class="form-input form-input-gray" type="text" name="num-of-rooms" data-constraints="@Required @Integer">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-wrap">
                          <label class="form-label-outside" for="contact-name">Hotel name</label>
                          <!-- {{ form.customer_name}} -->
                          <input class="form-input form-input-gray" value="{{room.hotel.hotel_name}}" type="text" name="hotel-name" data-constraints="@Required">
                        </div>
                      </div>
                    <div class="col-12">
                      <div class="form-wrap">
                        <label class="form-label-outside" for="contact-message">Additional Reservations</label>
                        <!-- {{form.additional_reservations}} -->
                        <textarea class="form-input form-input-gray"  name="add-ons" ></textarea>
                      </div>
                      <button class="button button-primary button-sm" style="min-width: 140px;" type="submit">Submit</button>
                      <!-- {{form.errors}} -->
                    </div>
                  </div>
                </form>
              </div>
              {% endcomment %}
            </div>
            
            <!-- <div class="col-lg-5 col-xxl-4">
              <aside class="text-md-left">
                <div class="row row-60 row-lg-90">
                  
                  <div class="col-12">
                    <h5 class="text-bold hr-title">Gallery</h5>
                    <div class="row row-sm-gutter" data-lightgallery="group">
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="800x450" href="{% static 'images/overview-01.jpg'%}"><img class="img-responsive center-block" src="{% static 'images/gallery-48.jpg'%}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="384x560" href="{% static 'images/post-36.jpg'%}"><img class="img-responsive center-block" src="{% static 'images/gallery-49.jpg'%}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="576x372" href="{% static 'images/gallery-20.jpg'%}"><img class="img-responsive center-block" src="{% static 'images/gallery-50.jpg'%}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="384x560" href="{% static 'images/post-43.jpg'%}"><img class="img-responsive center-block" src="{% static 'images/gallery-51.jpg'%}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="420x590" href="{% static 'images/gallery-28.jpg'%}"><img class="img-responsive center-block" src="{% static 'images/gallery-52.jpg'%}" width="185" height="185" alt=""></a></div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4"><a class="thumbnail-img" data-lightgallery="item" data-size="420x590" href="{% static 'images/gallery-25.jpg'%}"><img class="img-responsive center-block" src="{% static 'images/gallery-53.jpg '%}" width="185" height="185" alt=""></a></div>
                    </div>
                  </div>
                </div>
              </aside>
            </div> -->
          </div>
        </div>
      </section>
 {% endblock %}