<!DOCTYPE html>
{% load static %}
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>404</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,900">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <!-- Page-->
    <div class="page text-center">
      <section class="section-single bg-gray-darker context-dark" style="background-image: url({% static 'images/background-02.jpg' %});">
        <div class="section-single-inner">
          <header class="section-single-header">
            <div class="page-head-inner">
              <div class="container text-center"><a class="d-inline-block brand-name" href="{% url 'Home' %}"><img class="img-responsive center-block" src="{% static 'images/logo-white.png' %}" width="166" height="55" alt=""></a></div>
            </div>
          </header>
          <div class="section-single-main">
            <div class="container">
              <!-- <h1 class="text-ubold"><span class="big">404</span></h1> -->
              <h3 class="text-ubold">Yoour reservation was successful</h3>
              <p class="big" style="opacity: .5;">please check your email for verification, thank you!</p><a class="button button-primary button-naira button-naira-up" href="{% url 'Home' %}"><span class="icon mdi mdi-arrow-left-bold"></span><span>back to home page</span></a>
            </div>
          </div>
          <!-- Page Footer-->
          <footer class="section-single-footer" style="opacity: .5;">
            <div class="container">
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
          </footer>
        </div>
      </section>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>